{% extends 'base.html' %}

{% block content %}
<!--**06**  Self_Storage_Website__Templates Page design is here-->
<!-- self storage website templates design is here -->
<section class=" w-full py-10 md:py-14 bg-purple-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-7 items-center justify-center text-black">
            <div>
                <div>
                    <h1 class=" text-2xl md:text-3xl lg:text-4xl font-medium text-blue-800 ">Golden shop for self
                        storage website templates</h1>
                </div>
                <div class=" py-5">
                    <p class=" text-base font-normal">Here are the modern self storage website templates. Each of these
                        are mobile responsive, heightens your brand credibility with creative designs and theme
                        customizations, and on top, lets your tenants rent/reserve units via mobile app by use of PWA
                        plug-in</p>
                </div>
                <div class=" flex flex-col sm:flex-row items-center md:items-start justify-center md:justify-start">
                    <a href="{% url 'website-registration' %}"
                        class=" outline-none bg-blue-800 py-3 px-2 md:py-3 md:px-6 xl:py-4 xl:px-8 text-white rounded text-base font-bold my-3 md:my-0 sm:mr-2 lg:mr-5 shadow-xl hover:shadow-inner">Purchase
                        Now</a>
                    <a href="#templates"
                        class=" outline-none bg-purple-200 py-3 px-2 md:py-3 md:px-6 xl:py-4 xl:px-8 text-blue-800 rounded text-base font-bold my-3 md:my-0 hover:bg-blue-800 hover:text-white transform duration-1000 delay-300 transition-all">Pick
                        Template</a>
                </div>
            </div>
            <div class="">
                <img class=" w-full h-auto"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/3c97a119-56f4-45e0-e095-c6fbacf24e00/6Storage"
                    alt="Website_Registration_Banner">
            </div>
        </div>
    </div>
</section>
<!-- Templates design is here -->
<section id="templates" class=" w-full py-10 md:py-14 bg-white">
    <div class=" container max-w-6xl mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 gap-1 text-center py-5 lg:py-10 pb-7 md:pb-12 text-gray-700">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium">Templates</h2>
            <hr class=" border-t-4 border-blue-800 mt-2 lg:mt-1 mx-auto w-2/12 md:w-1/12 z-10 rounded-md">
        </div>
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-10 md:gap-x-16 lg:gap-x-28 items-center justify-center text-center text-gray-800 font-semibold text-base md:text-lg py-5 lg:py-8">
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template01.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/644b46bd-5f8e-41fe-ed47-9b6a6c05fa00/6Storage"
                            alt="Selfstorage_Template_1">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 01</h4>
                </a>
            </div>
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template02.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/8cda6a97-d05e-4c58-3bcf-9a4402f30200/6Storage"
                            alt="Selfstorage_Template_2">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 02</h4>
                </a>
            </div>
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template03.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/2c274e37-249c-4d33-abaf-0ac7418e2600/6Storage"
                            alt="Selfstorage_Template_3">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 03</h4>
                </a>
            </div>
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template04.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/9dc9570a-1991-46e3-13c7-93d7d2945100/6Storage"
                            alt="Selfstorage_Template_4">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 04</h4>
                </a>
            </div>
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template05.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/351e1431-4d3c-475f-23ac-d74f05507300/6Storage"
                            alt="Selfstorage_Template_5">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 05</h4>
                </a>
            </div>
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template06.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/06613592-0ea7-4286-6c83-6fb01e190300/6Storage"
                            alt="Selfstorage_Template_6">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 06</h4>
                </a>
            </div>
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template07.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/dfee8ac0-3416-4da1-1f33-0b0ddbab7600/6Storage"
                            alt="Selfstorage_Template_7">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 07</h4>
                </a>
            </div>
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template08.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/4c209e20-9a98-40b3-4036-1963a68cfe00/6Storage"
                            alt="Selfstorage_Template_8">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 08</h4>
                </a>
            </div>
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template09.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/5044ddb3-d31c-4608-7abb-0ba014294100/6Storage"
                            alt="Selfstorage_Template_9">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 09</h4>
                </a>
            </div>
            <div class=" hover:-translate-y-2 transform transition-all duration-500 delay-150">
                <a href="https://template10.mystoragedemo.com/" target="_blank">
                    <div class=" shadow-2xl">
                        <img class=" w-full h-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/bbf191ae-abca-4400-f1b8-be952cbf3e00/6Storage"
                            alt="Selfstorage_Template_10">
                    </div>
                    <h4 class=" py-3 lg:py-5">Template 10</h4>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Take a look up design is here -->
<section class=" w-full py-10 md:py-14 bg-blue-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" text-center text-gray-800">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium py-1 md:py-2">Take a look up again & pick your
                website today</h2>
            <p class=" text-base font-normal py-1 md:py-2">Go live with your best storage website today or contact us
                for unique website customizations</p>
        </div>
        <div class=" flex flex-row items-center justify-center py-4 lg:py-6">
            <a href="{% url 'website-registration' %}"
                class=" outline-none bg-blue-800 py-3 px-3 md:py-3 md:px-6 xl:py-4 xl:px-8 text-white rounded text-base font-bold my-3 md:my-0 mr-5 shadow-xl hover:shadow-inner">Buy
                today</a>
            <a href="#!"
                class=" outline-none bg-purple-200 py-3 px-3 md:py-3 md:px-6 xl:py-4 xl:px-8 text-blue-800 rounded text-base font-bold my-3 md:my-0 hover:bg-blue-800 hover:text-white">Contact</a>
        </div>
    </div>
</section>
{% endblock %}