{% extends 'base.html' %}

{% block content %}
<section class=" w-full py-10 md:py-14 bg-blue-50">
<div class=" container mx-auto px-7 lg:px-10 xl:px-8">
<div class=" grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-14 xl:gap-20 md:gap-y-0 lg:gap-y-0 xl:gap-y-0 items-center justify-center text-black">
<div class=" bg-white px-3 py-5 lg:px-6 lg:py-10">
<div>
<h1 class=" text-2xl md:text-3xl lg:text-4xl font-medium text-black text-center">Get Website Quote</h1>
</div>
</div>
<div>
<div>
<h2 class=" text-xl md:text-2xl lg:text-3xl font-medium py-1 lg:py-2">Be Found!
Build your Brand Online.</h2>
<p class=" text-base font-normal py-1 lg:py-2">When people search for storage units or specifically your business over the internet, you want to show-up and not just that, but show-up and look good.</p>


</div>
<div class="flex flex-row items-center justify-center py-3 lg:py-6">
                                <img class=" w-full h-auto" src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/cdde6584-4546-4a0e-325a-e024ef379d00/6Storage" alt="Template_01_Banner"></div>
</div>
</div>
</div>
</section>
{% endblock %}