{% extends 'base.html' %}

{% block content %}
<!-- Self storage software Design is here -->
<section
    class=" w-full py-10 md:pt-16 lg:py-20 pb-5 md:pb-12 lg:pb-8 cc-bg-blue-50 overflow-hidden md:overflow-visible">
    <div class=" relative z-50">
        <div
            class=" absolute top-80 sm:top-60 md:top-56 lg:top-48 xl:top-56 2xl:top-32 -left-10 sm:left-5 md:left-2 lg:left-2 xl:left-5 2xl:left-12">
            <img class=" w-24 md:w-36 lg:w-40 xl:w-48 2xl:w-60"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/d1bfdd24-b45b-4260-aab7-965caca7ba00/6Storage"
                alt="container-1">
        </div>
    </div>
    <div class=" container max-w-5xl mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 gap-5 lg:gap-8  text-center cc-sky-blue-100">
            <div class=" max-w-5xl mx-auto">
                <h1 class=" text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-medium"><span
                        class=" leading-snug"><span>Affordable software to</span><span class=" font-extrabold"> organize
                        </span><span>your portable </span><span class=" font-extrabold">storage container
                        </span><span>rentals</span></span></h1>
            </div>
            <div class=" max-w-4xl mx-auto">
                <p class=" text-lg md:text-xl font-normal">Stay organized to serve a large number of clients & keep
                    track of your storage container rentals. One platform to transform your entire business operations
                    online</p>
            </div>
            <div
                class=" py-2 lg:py-3.5 max-w-4xl mx-auto flex flex-col md:flex-row justify-evenly items-center space-y-7 md:space-y-0 md:space-x-7">
                <a href="#"
                    class=" text-white text-sm sm:text-base lg:text-lg text-center font-extrabold not-italic leading-9 outline-none bg-blue-700 rounded-full py-2.5 px-10 md:px-12 lg:px-14 border-2 border-transparent shadow-xl hover:shadow-none hover:text-blue-700 hover:bg-white hover:border-blue-700 transition-all duration-300  transform ease-linear uppercase tracking-wider">Free
                    signup</a><a href="#"
                    class=" text-sm sm:text-base lg:text-lg text-center font-bold uppercase tracking-wider not-italic bg-white text-blue-700 py-2.5 px-10 md:px-12 lg:px-14 border-2 border-blue-200 rounded-full leading-9 outline-none hover:bg-purple-100 hover:border-blue-700 hover:text-blue-700 hover:shadow-lg transition-all duration-400 transform ease-linear">Live
                    demo</a>
            </div>
        </div>
    </div>
</section>
<section class=" w-full overflow-x-hidden hidden md:block"
    style=" background-image: linear-gradient(180deg, #F2F4FC 65%, #FFFFFF 60%);">
    <div class=" container max-w-7xl mx-auto px-7  lg:px-10 xl:px-8">
        <div class=" z-50 relative">
            <img class=" mx-auto w-2/3 z-50"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/3a64f095-e10a-43ea-e6b9-43fd9a5a9100/6Storage"
                alt="Main-Conatiner-Storage">
        </div>
    </div>
</section>
<!-- portable storage container rentals design is here -->
<section class="  w-full py-32 lg:py-44 my-2 md:my-5 lg:my-6 xl:my-6 lg:mb-20 xl:pb-56 bg-transparent relative"
    style=" background-image: linear-gradient(140deg, #8b24fc 0%, #2c0efe 100%);">
    <div class=" bg-cover opacity-80 bg-center absolute left-0 top-0 h-full w-full"
        style=" background-image: url(https://demo.themovation.com/stratus/wp-content/uploads/2019/06/Header-bg.png);">
    </div>
    <div class=" absolute -top-1 overflow-hidden left-0 w-full transform rotate-180">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: calc(188% + 1.3px);" fill="#fff"
            class=" h-32 lg:h-72 block transform -translate-x-1/2 left-1/2 relative" viewBox="0 0 1000 100"
            preserveAspectRatio="none">
            <path class="elementor-shape-fill"
                d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
        </svg>
    </div>
    <div class=" absolute -bottom-1 overflow-hidden left-0 w-full">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: calc(188% + 1.3px);" fill="#fff"
            class=" h-32 lg:h-72 block transform -translate-x-1/2 left-1/2 relative" viewBox="0 0 1000 100"
            preserveAspectRatio="none">
            <path class="elementor-shape-fill"
                d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
        </svg>
    </div>
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div
            class=" grid grid-cols-1 md:grid-cols-5 items-center justify-center gap-y-10 md:gap-y-0 md:gap-14 cc-sky-blue-100">
            <div class=" md:col-span-3  md:px-6 lg:px-10 py-6 lg:py-10 rounded-3xl z-20 space-y-4 lg:space-y-6">
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-normal text-white">A <span
                            class=" font-extrabold">scenario </span>portable storage container rentals...</h3>
                </div>
                <div class=" text-base font-normal text-white text-justify space-y-3.5 lg:space-y-5">
                    <p>Melinda, a new tenant, rents an on-site storage unit. The facility delivers the portable
                        container to her location. She uses the container until her lease period</p>
                    <p>Now, in 6Storage software, you can allow your tenants to instantly rent the containers via mobile
                        app (tenant portal API and Wordpress PWA plugin) and provide a positive renting experience.</p>
                    <img src="https://amava.chitrakootweb.com/img/bg/bg-01.jpg" alt="Portable_Storage"
                        class=" my-5 rounded">
                    <p>Not only that, you can manage the entire lease operation and delegate tasks with location
                        specific user roles, create invoices on buffer/recall operations & on rentals including
                        additional services, transportation costs etc. and any other function you’d expect to find in a
                        traditional self storage.</p>
                </div>
            </div>
            <div class=" md:col-span-2  md:px-5 lg:px-8 py-6 lg:py-10 rounded-3xl space-y-3.5 lg:space-y-5 relative">
                <p class=" text-base font-bold text-white text-justify">With 6Storage, you can facilitate storage
                    operations:</p>
                <ul class=" text-base font-normal text-white space-y-2.5 lg:space-y-4">
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> Manage multiple facility
                        locations</li>
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> Trigger auto email/sms
                        notifications</li>
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> Facility sitemap to perform
                        lease operations</li>
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> Automate payments & invoices
                        and track sales</li>
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> Integrations for accounting,
                        gate access & payments</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Management design is here -->
<section class=" w-full py-7 lg:py-14 overflow-hidden">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 items-center justify-center">
            <div class=" flex items-center justify-center py-10 md:py-0 xl:pr-16">
                <img class=" mx-auto" src="https://www.6storage.com/img/storagetype/tenant-management.png"
                    alt="Tenant-Management">
            </div>
            <div class="space-y-4 lg:space-y-6">
                <div class=" flex">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-none text-base text-green-400 font-bold"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                    </svg>
                    <p class=" text-base text-green-400 tracking-wider font-bold uppercase grow ml-2">Management</p>
                </div>
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">Tenant management
                    </h3>
                </div>
                <div>
                    <p class=" text-base font-normal cc-sky-blue-100 text-justify ">Your tenants are the fruits of your
                        business; 6Storage lets you manage tenant information of all your container storage locations:
                        saved card details, lease history & more</p>
                </div>
                <div>
                    <ul class=" text-base font-normal cc-sky-blue-100">
                        <li><span class=" text-xl font-semibold text-blue-700 ">&#10003;</span> See analytics on profit
                            potential lead sources</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Follow up with
                            prospective customers & sort the best ones</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Manage all tenant
                            information from one place & universal search</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Customizations  design is here -->
<section class=" w-full py-8 lg:py-20 overflow-hidden md:overflow-visible">
    <div class=" relative z-50">
        <div
            class=" absolute top-80 md:top-96 lg:top-80 xl:top-96 2xl:top-80 right-3 md:right-6 lg:right-8 xl:right-8 2xl:right-10 transform z-0">
            <img class=" w-24 sm:w-32 md:w-32 lg:w-48 xl:w-52 2xl:w-60"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/5741480b-91f2-4300-6dbb-6e644caade00/6Storage"
                alt="container-3">
        </div>
    </div>
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 md:gap-y-0 items-center justify-center ">
            <div class="space-y-4 lg:space-y-6">
                <div class=" flex">
                    <svg viewBox="0 0 16 16"
                        class="bi bi-tools bi-intersect h-5 w-5 flex-none text-base text-green-400 font-bold"
                        fill="#34d399" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z">
                        </path>
                        <path fill-rule="evenodd"
                            d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z">
                        </path>
                    </svg>
                    <p class=" text-base text-green-400 font-bold uppercase grow ml-2">Customizations</p>
                </div>
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">Container software
                        customizations</h3>
                </div>
                <div>
                    <p class=" text-base font-normal cc-sky-blue-100 text-justify ">Plentiful customizations to perform
                        unique operations for your business and delegate tasks with custom user roles & grant access
                        only to specific functions</p>
                </div>
                <div>
                    <ul class=" text-base font-normal cc-sky-blue-100">
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Customize all documents
                            with macros & native language</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Customize tenant portal &
                            the associated move in functions</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Customize lease
                            agreements for short & long term customers</li>
                    </ul>
                </div>
            </div>
            <div class=" flex items-center justify-center py-10 md:py-0 xl:pl-16 order-first md:order-none">
                <img class=" mx-auto" src="https://www.6storage.com/img/storagetype/custom-software.png"
                    alt="Custom-Software">
            </div>
        </div>
    </div>
</section>
<!-- Handle all the exhaustive & repetitive Design is here -->
<section class="  w-full py-32 lg:py-40 lg:pt-64 mt-2 md:mt-20 lg:mt-20 xl:mt-24 bg-transparent relative"
    style="background-image: linear-gradient(140deg, #8b24fc 0%, #2c0efe 100%);">
    <div class=" bg-cover opacity-80 bg-center absolute left-0 top-0 h-full w-full"
        style="background-image: url(https://demo.themovation.com/stratus/wp-content/uploads/2019/06/CTA-bg.png);">
    </div>
    <div class=" absolute -top-1 overflow-hidden left-0 w-full ">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: calc(240% + 1.3px);" fill="#fff"
            class=" h-32 lg:h-56 block transform -translate-x-1/2 left-1/2 relative" viewBox="0 0 1000 100"
            preserveAspectRatio="none">
            <path class="elementor-shape-fill"
                d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7 c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4 c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z">
            </path>
        </svg>
    </div>
    <div class=" container max-w-7xl mx-auto px-7 lg:px-10 xl:px-8 relative">
        <div class=" grid grid-cols-1 gap-5 lg:gap-8  text-center text-white max-w-5xl mx-auto">
            <div class=" max-w-5xl mx-auto ">
                <h2 class=" text-xl md:text-2xl lg:text-3xl xl:text-4xl font-medium"><span class=" leading-snug">Handle
                        all the exhaustive & repetitive storage rental business operations without breaking a
                        sweat</span></h2>
            </div>
            <div class=" max-w-4xl mx-auto ">
                <p class=" text-lg md:text-xl font-normal">Dive into storage container software & find out how you can
                    organize operations and focus on scaling your business effectively. Reach out for unique
                    customizations</p>
            </div>
            <div
                class=" py-2 lg:py-3.5 max-w-4xl mx-auto flex flex-col md:flex-row justify-evenly items-center space-y-7 md:space-y-0 md:space-x-7">
                <a href="#"
                    class=" text-white text-sm sm:text-base lg:text-lg text-center font-extrabold not-italic leading-9 outline-none bg-blue-800 rounded-full py-2.5 px-10 md:px-12 lg:px-14 border-2 border-transparent shadow-2xl hover:shadow-none hover:text-blue-700 hover:bg-white hover:border-gray-900 transition-all duration-300  transform ease-linear uppercase tracking-wider">Book
                    Demo</a><a href="#"
                    class=" text-sm sm:text-base lg:text-lg text-center font-bold uppercase tracking-wider not-italic bg-white text-blue-700 py-2.5 px-10 md:px-12 lg:px-14 border-2 border-blue-200 rounded-full leading-9 outline-none hover:bg-purple-200 hover:border-blue-700 hover:text-blue-700 hover:shadow-lg transition-all duration-400 transform ease-linear">Talk
                    to us</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}