{% extends 'base.html' %}

{% block content %}
<!-- Pallet storage software Design is here -->
<section class=" w-full py-10 md:pt-16 lg:py-20 pb-5 lg:pb-8 cc-bg-blue-50 overflow-hidden">
    <div class=" relative z-50">
        <div
            class=" absolute top-60 sm:top-44 md:top-36 lg:top-48 xl:top-56 2xl:top-32 -left-10 md:left-0 lg:left-2 xl:left-5 2xl:left-12">
            <img class=" w-24 md:w-24 lg:w-32 xl:w-36 2xl:w-40"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/18459045-67b3-4a27-52e0-2431be47ec00/6Storage"
                alt="pallet-1">
        </div>
    </div>
    <div class=" container max-w-5xl mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 gap-5 lg:gap-8  text-center cc-sky-blue-100">
            <div class=" max-w-5xl mx-auto">
                <h1 class=" text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-medium"><span
                        class=" leading-snug"><span>Pallet </span><span class=" font-extrabold"> storage
                        </span><span>software </span><span class=" font-extrabold">Optimize </span><span>storage &
                            buffering</span></span></h1>
            </div>
            <div class=" max-w-4xl mx-auto">
                <p class=" text-lg md:text-xl font-normal">With so many pallets on racks 6Storage can efficiently track
                    lease activity & find what you need at any given time</p>
            </div>
            <div
                class=" py-2 lg:py-3.5 max-w-4xl mx-auto flex flex-col md:flex-row justify-evenly items-center space-y-7 md:space-y-0 md:space-x-7">
                <a href="#"
                    class=" text-white text-sm sm:text-base lg:text-lg text-center font-extrabold not-italic leading-9 outline-none bg-blue-700 rounded-full py-2.5 px-10 md:px-12 lg:px-14 border-2 border-transparent shadow-xl hover:shadow-none hover:text-blue-700 hover:bg-white hover:border-blue-700 transition-all duration-300  transform ease-linear uppercase tracking-wider">Free
                    signup</a><a href="#"
                    class=" text-sm sm:text-base lg:text-lg text-center font-bold uppercase tracking-wider not-italic bg-white text-blue-700 py-2.5 px-10 md:px-12 lg:px-14 border-2 border-blue-200 rounded-full leading-9 outline-none hover:bg-purple-100 hover:border-blue-700 hover:text-blue-700 hover:shadow-lg transition-all duration-400 transform ease-linear">Live
                    demo</a>
            </div>
        </div>
    </div>
</section>
<section class=" w-full overflow-x-hidden hidden md:block"
    style=" background-image: linear-gradient(180deg, #F2F4FC 70%, #FFFFFF 70%);">
    <div class=" container max-w-7xl mx-auto px-7  lg:px-10 xl:px-8">
        <div class=" z-50 relative">
            <img class=" mx-auto w-2/3 z-50"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/9b0b69e3-f052-4959-c9d8-dcd793d6ea00/6Storage"
                alt="main-pallet-storage">
        </div>
    </div>
</section>
<!-- pallet storage system design is here -->
<section
    class="  w-full py-32 lg:py-44 my-8 md:my-12 lg:my-6 xl:my-16 lg:mt-12 xl:mt-16 lg:mb-20 xl:pb-56 bg-transparent relative"
    style=" background-image: linear-gradient(140deg, #8b24fc 0%, #2c0efe 100%);">
    <div class=" bg-cover opacity-80 bg-center absolute left-0 top-0 h-full w-full"
        style=" background-image: url(https://demo.themovation.com/stratus/wp-content/uploads/2019/06/Header-bg.png);">
    </div>
    <div class=" absolute -top-1 overflow-hidden left-0 w-full transform rotate-180">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: calc(188% + 1.3px);" fill="#fff"
            class=" h-32 lg:h-72 block transform -translate-x-1/2 left-1/2 relative" viewBox="0 0 1000 100"
            preserveAspectRatio="none">
            <path class="elementor-shape-fill"
                d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
        </svg>
    </div>
    <div class=" absolute -bottom-1 overflow-hidden left-0 w-full">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: calc(188% + 1.3px);" fill="#fff"
            class=" h-32 lg:h-72 block transform -translate-x-1/2 left-1/2 relative" viewBox="0 0 1000 100"
            preserveAspectRatio="none">
            <path class="elementor-shape-fill"
                d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
        </svg>
    </div>
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8 relative">
        <div
            class=" grid grid-cols-1 md:grid-cols-5 items-center justify-center gap-y-10 md:gap-y-0 lg:gap-y-0 xl:gap-y-0 gap-5 lg:gap-8 xl:gap-14 cc-sky-blue-100">
            <div class=" md:col-span-3  md:px-6 lg:px-10 py-6 lg:py-10 rounded-3xl z-20 space-y-4 lg:space-y-6">
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-normal text-white">A <span
                            class=" font-extrabold">scenario </span>on pallet storage system...</h3>
                </div>
                <div class=" text-base font-normal text-white text-justify space-y-3.5 lg:space-y-5">
                    <p>Anton, a new tenant, rents a pallet. He visits the facility to access the pallet. After loading,
                        the facility moves the pallet to the warehouse. During the lease period, when Anton wants to
                        regain access of his unit, he recalls it via tenant portal.</p>
                    <p>Now, in 6Storage software, you can manage the complete tenant activity, get the lease signed
                        electronically, automate payments and trigger auto notifications for overdue tenants, create
                        invoices on buffer period, additional services, transportation costs etc. and every other
                        function you’d expect to find in a traditional self storage.</p>
                    <p>What if you have vault storage or achieve storage, or you don’t find software for your storage
                        type? reach out! Because our software is flexible, we could integrate your workflow process in
                        the software.</p>
                </div>
            </div>
            <div class=" md:col-span-2  md:px-5 lg:px-8 py-6 lg:py-10 rounded-3xl space-y-3.5 lg:space-y-5">
                <p class=" text-base font-bold text-white text-justify">With 6Storage, you can manage pallet storage
                    operations:</p>
                <ul class=" text-base font-normal text-white space-y-2.5 lg:space-y-4">
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> Manage lease & tenant
                        information</li>
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> E-sign lease agreement via
                        email/sms</li>
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> Automate payments & invoices
                    </li>
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> Trigger auto email/sms
                        notifications</li>
                    <li><span class=" text-xl font-semibold text-green-300">&#10003;</span> Add any additional services
                        to reflect on invoices</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Streamline your pallet storage is here -->
<section class=" w-full py-10 sm:py-14 lg:py-14 overflow-hidden">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" relative z-0">
            <div
                class=" absolute hidden top-8 md:top-0 lg:-top-12 xl:-top-10  -right-5 md:right-6 lg:right-8 xl:right-8 2xl:right-24">
                <img class=" md:hidden lg:block w-7 md:w-auto"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/835de681-833f-45fe-1175-c93f409dd600/6Storage"
                    alt="pallet-2">
            </div>
        </div>
        <div class=" space-y-10 lg:space-y-28">
            <div class=" max-w-3xl mx-auto">
                <h2 class=" text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold cc-sky-blue-100 text-center"><span
                        class=" leading-snug">Streamline your pallet storage system with 6Storage software</span></h2>
            </div>
            <div
                class=" grid grid-cols-1 md:grid-cols-3 gap-5 gap-y-12 md:gap-10 md:gap-y-0 items-stretch justify-center cc-sky-blue-100 text-center">
                <div
                    class=" bg-white py-6 px-4 md:px-6 lg:py-10 lg:px-7 rounded-lg shadow-2xl space-y-3.5 lg:space-y-5">
                    <div>
                        <h1 class=" text-3xl md:text-5xl lg:text-6xl xl:text-7xl font-bold text-green-500"><span
                                class=" leading-snug">1</span></h1>
                    </div>
                    <div>
                        <h3 class=" text-lg md:text-xl lg:text-2xl font-bold"><span class=" leading-snug">Category -
                                1</span></h3>
                    </div>
                    <div>
                        <p class=" text-base text-black font-normal">Pallet storage boxes are taken to tenant’s place
                            and left there until the end of lease period</p>
                    </div>
                </div>
                <div
                    class=" bg-white py-6 px-4 md:px-6 lg:py-10 lg:px-7 rounded-lg shadow-2xl space-y-3.5 lg:space-y-5">
                    <div>
                        <h1 class=" text-3xl md:text-5xl lg:text-6xl xl:text-7xl font-bold text-green-500"><span
                                class=" leading-snug">2</span></h1>
                    </div>
                    <div>
                        <h3 class=" text-lg md:text-xl lg:text-2xl font-bold"><span class=" leading-snug">Category -
                                2</span></h3>
                    </div>
                    <div>
                        <p class=" text-base text-black font-normal">Pallets are taken to tenant’s place where he loads
                            it. The pallets are brought back to the facility. Tenants can recall the box for a specified
                            time period during his lease period</p>
                    </div>
                </div>
                <div
                    class=" bg-white py-6 px-4 md:px-6 lg:py-10 lg:px-7 rounded-lg shadow-2xl space-y-3.5 lg:space-y-5">
                    <div>
                        <h1 class=" text-3xl md:text-5xl lg:text-6xl xl:text-7xl font-bold text-green-500"><span
                                class=" leading-snug">3</span></h1>
                    </div>
                    <div>
                        <h3 class=" text-lg md:text-xl lg:text-2xl font-bold"><span class=" leading-snug">Category - 3
                                (Coming Soon!)</span></h3>
                    </div>
                    <div>
                        <p class=" text-base text-black font-normal">Pallets are taken to tenant’s place (location A)
                            where he loads it. Then the boxes are moved to location B as stated by the tenant</p>
                    </div>
                </div>
            </div>
            <div class=" max-w-4xl mx-auto text-center">
                <p class=" text-lg md:text-xl font-normal">6Storage can manage storage operations & workflow for all
                    these categories. See all software features and get started today</p>
                <div
                    class=" mt-7 lg:mt-12 py-2 lg:py-3.5 max-w-4xl mx-auto flex flex-col md:flex-row justify-center items-center space-y-7 md:space-y-0 md:space-x-7">
                    <a href="{% url 'feature' %}"
                        class=" text-white text-lg text-center font-extrabold not-italic leading-9 outline-none bg-blue-700 rounded-full py-2.5 px-10 md:px-12 lg:px-14 border-2 border-transparent shadow-2xl hover:shadow-none hover:text-blue-700 hover:bg-white hover:border-blue-700 transition-all duration-300  transform ease-linear uppercase tracking-wider">See
                        all features</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Make your business reach the highest level  design is here -->
<section class=" w-full py-8 sm:py-14 lg:py-20 overflow-visible">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 md:gap-y-0 items-center justify-center ">
            <div class="space-y-4 lg:space-y-6">
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">Make your business
                        reach the highest level</h3>
                </div>
                <div>
                    <p class=" text-base font-normal cc-sky-blue-100 text-justify ">6Storage can efficiently track lease
                        activity and secure your warehouse</p>
                </div>
                <div class=" flex space-x-3 lg:space-x-5">
                    <div class=" flex-none">
                        <svg viewBox="0 0 512 512" class=" h-7 w-7 flex-none text-base text-blue-800 font-bold"
                            fill="#34d399" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z" />
                        </svg>
                    </div>
                    <div class=" grow-0 space-y-3">
                        <p class=" text-lg font-bold cc-sky-blue-100 text-justify ">Secure warehouse</p>
                        <p class=" text-base font-normal cc-sky-blue-100 text-justify ">Let gate access system handle
                            security concerns over your entire warehouse and automate access. 6Storage integrates with
                            major gate access systems & allows overlocking of units</p>
                    </div>
                </div>
                <div class=" flex space-x-3 lg:space-x-5">
                    <div class=" flex-none">
                        <svg class="h-7 w-7 flex-none text-base text-green-400 font-bold" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <path d="M3 21v-13l9-4l9 4v13" />
                            <path d="M13 13h4v8h-10v-6h6" />
                            <path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" />
                        </svg>
                    </div>
                    <div class=" grow-0 space-y-3">
                        <p class=" text-lg font-bold cc-sky-blue-100 text-justify ">Storage & buffering</p>
                        <p class=" text-base font-normal cc-sky-blue-100 text-justify ">Simplify the process for your
                            tenants to recall a pallet and keep them notified via email/sms. Set your preferred
                            recall/buffer operations on 6Storage & get invoice with transportation costs</p>
                    </div>
                </div>
            </div>
            <div class=" flex items-center justify-center py-10 md:py-0 xl:pl-16 order-first md:order-none">
                <img class=" mx-auto" src="https://www.6storage.com/img/storagetype/Business-each-highest.png"
                    alt="Business">
            </div>
        </div>
    </div>
    <div class=" relative z-50">
        <div
            class=" absolute top-5 md:top-16 lg:top-32 xl:top-28 2xl:top-20 right-5 md:right-8 lg:right-14 xl:right-16 2xl:right-36 transform z-0">
            <img class=" w-24 md:w-32 lg:w-36 xl:w-40 2xl:w-44"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/d74ed4c1-b33e-4455-0e85-43f783f77b00/6Storage"
                alt="pallet-3">
        </div>
    </div>
</section>
<!-- pallet racking & operations Design is here -->
<section class="  w-full py-32 lg:py-40 lg:pt-64 mt-10 md:mt-20 lg:mt-20 xl:mt-24 bg-transparent relative"
    style="background-image: linear-gradient(140deg, #8b24fc 0%, #2c0efe 100%);">
    <div class=" bg-cover opacity-80 bg-center absolute left-0 top-0 h-full w-full"
        style="background-image: url(https://demo.themovation.com/stratus/wp-content/uploads/2019/06/CTA-bg.png);">
    </div>
    <div class=" absolute -top-1 overflow-hidden left-0 w-full ">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: calc(240% + 1.3px);" fill="#fff"
            class=" h-32 lg:h-56 block transform -translate-x-1/2 left-1/2 relative" viewBox="0 0 1000 100"
            preserveAspectRatio="none">
            <path class="elementor-shape-fill"
                d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7 c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4 c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z">
            </path>
        </svg>
    </div>
    <div class=" container max-w-7xl mx-auto px-7 lg:px-10 xl:px-8 relative">
        <div class=" grid grid-cols-1 gap-5 lg:gap-8  text-center text-white max-w-5xl mx-auto">
            <div class=" max-w-5xl mx-auto ">
                <h2 class=" text-xl md:text-2xl lg:text-3xl xl:text-4xl font-medium"><span
                        class=" leading-snug">Simplify all your complex pallet racking & operations with 6Storage
                        software</span></h2>
            </div>
            <div class=" max-w-4xl mx-auto ">
                <p class=" text-lg md:text-xl font-normal">See a live demo & find out how to facilitate pallet storage
                    operations, and don’t hesitate to talk to a human for software customizations</p>
            </div>
            <div
                class=" py-2 lg:py-3.5 max-w-4xl mx-auto flex flex-col md:flex-row justify-evenly items-center space-y-7 md:space-y-0 md:space-x-7">
                <a href="#"
                    class=" text-white text-sm sm:text-base lg:text-lg text-center font-extrabold not-italic leading-9 outline-none bg-blue-800 rounded-full py-2.5 px-10 md:px-12 lg:px-14 border-2 border-transparent shadow-2xl hover:shadow-none hover:text-blue-700 hover:bg-white hover:border-gray-900 transition-all duration-300  transform ease-linear uppercase tracking-wider">Book
                    Demo</a>
                <a href="tel:+1 (844) 334-4666"
                    class=" text-sm sm:text-base lg:text-lg text-center font-bold uppercase tracking-wider not-italic bg-white text-blue-700 py-2.5 px-10 md:px-12 lg:px-14 border-2 border-blue-200 rounded-full leading-9 outline-none hover:bg-purple-200 hover:border-blue-700 hover:text-blue-700 hover:shadow-lg transition-all duration-400 transform ease-linear">Talk
                    to us</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}