{% extends 'base.html' %}

{% block content %}
<!-- RV storage facility Design is here -->
<section class=" w-full py-10 md:pt-16 lg:py-20 pb-6 lg:pb-8 cc-bg-blue-50 overflow-hidden md:overflow-visible">
    <div class=" relative z-50">
        <div
            class=" absolute hidden sm:block top-80 sm:top-48 md:top-52 lg:top-64 xl:top-56 2xl:top-48 -left-14 sm:left-0 md:left-0 lg:left-2 xl:left-3 2xl:left-2">
            <img class=" w-28 md:w-44 lg:w-48 xl:w-64 2xl:w-72"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/989b0cfa-908a-4d9e-51a9-3555215a7900/6Storage"
                alt="RV-Vehicle">
        </div>
    </div>
    <div class=" container max-w-5xl mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 gap-5 lg:gap-8  text-center cc-sky-blue-100">
            <div class=" max-w-4xl mx-auto">
                <h1 class=" text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-medium"><span
                        class=" leading-snug"><span>Automate your </span><span class=" font-extrabold">RV storage
                            facility</span><span> with storage software</span></span></h1>
            </div>
            <div class=" max-w-5xl mx-auto">
                <p class=" text-lg md:text-xl font-normal">The key to freedom is automating your perfect RV storage
                    business with one software solution that integrates with all the necessary tools to get things done
                    & performs pre-planned tasks</p>
            </div>
            <div
                class=" py-2 lg:py-3.5 max-w-4xl mx-auto flex flex-col md:flex-row justify-evenly items-center space-y-7 md:space-y-0 md:space-x-7">
                <a href="#"
                    class=" text-white text-sm sm:text-base lg:text-lg text-center font-extrabold not-italic leading-9 outline-none bg-blue-700 rounded-full py-2.5 px-10 md:px-12 lg:px-14 border-2 border-transparent shadow-2xl hover:shadow-none hover:text-blue-700 hover:bg-white hover:border-blue-700 transition-all duration-300  transform ease-linear uppercase tracking-wider">Free
                    signup</a><a href="#"
                    class=" text-sm sm:text-base lg:text-lg text-center font-bold uppercase tracking-wider not-italic bg-white text-blue-700 py-2.5 px-10 md:px-12 lg:px-14 border-2 border-blue-200 rounded-full leading-9 outline-none hover:bg-purple-100 hover:border-blue-700 hover:text-blue-700 hover:shadow-lg transition-all duration-400 transform ease-linear">Live
                    demo</a>
            </div>
        </div>
    </div>
</section>
<section class=" w-full pb-3 lg:pb-5 overflow-x-hidden hidden md:block"
    style=" background-image: linear-gradient(180deg, #F2F4FC 63%, #FFFFFF 60%);">
    <div class=" container max-w-7xl mx-auto px-7  lg:px-10 xl:px-8">
        <div class=" z-50 relative">
            <img class=" mx-auto w-2/3 z-50"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/57b098b8-69c2-4528-d8a8-45c63c32a800/6Storage"
                alt="main-boat-image">
        </div>
    </div>
</section>
<!-- Setup design is here -->
<section class=" w-full py-7 lg:py-14 overflow-hidden">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 xl:gap-24 md:gap-y-0 xl:gap-y-0 items-center justify-center">
            <div class=" flex items-center justify-center py-10 md:py-0 xl:pr-16">
                <img class=" mx-auto" src="https://www.6storage.com/img/storagetype/onetime-setup.png" alt="Setup">
            </div>
            <div class="space-y-4 lg:space-y-6">
                <div class=" flex">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-none text-base text-green-400 font-bold"
                        viewBox="0 0 20 20" fill="#34d399">
                        <path
                            d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                    </svg>
                    <p class=" text-base text-green-400 tracking-wider font-bold uppercase grow ml-2">Setup</p>
                </div>
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">One time setup
                    </h3>
                </div>
                <div>
                    <p class=" text-base font-normal cc-sky-blue-100 text-justify ">Setup your unit types and monthly
                        payment type only once in the software and your tenants can rent the needed units via tenant
                        portal and design the lease agreement for quick renting</p>
                </div>
                <div>
                    <ul class=" text-base font-normal cc-sky-blue-100">
                        <li><span class=" text-xl font-semibold text-blue-700 ">&#10003;</span> Set up your facility
                            details & tax information</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Create & upload your own
                            lease agreements</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Customize required fields
                            for move in & associated functions on tenant portal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Operations  design is here -->
<section class=" w-full py-8 lg:py-20 overflow-hidden">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 xl:gap-24 md:gap-y-0 xl:gap-y-0 items-center justify-center ">
            <div class="space-y-4 lg:space-y-6">
                <div class=" flex">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="bi bi-building h-5 w-5 flex-none text-base text-green-400 font-bold" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    <p class=" text-base text-green-400 font-bold uppercase grow ml-2">Operations</p>
                </div>
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">Management tools
                    </h3>
                </div>
                <div>
                    <p class=" text-base font-normal cc-sky-blue-100 text-justify ">Add any kind of custom services like
                        wash and propane stations, vehicle prep and clean up services. Your tenants can choose the
                        needed services before move in or even during the lease period</p>
                </div>
                <div>
                    <ul class=" text-base font-normal cc-sky-blue-100">
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Add additional services,
                            merchandises & insurances</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Run custom discounts or
                            promotions based on units or time period</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Review sales figures on
                            28+ reporting & find key metrics to grow your business</li>
                    </ul>
                </div>
            </div>
            <div class=" flex items-center justify-center py-10 md:py-0 xl:pl-16 order-first md:order-none">
                <img class=" mx-auto" src="https://www.6storage.com/img/storagetype/management-tools.png" alt="Tools">
            </div>
        </div>
    </div>
</section>
<!-- Unmanned Design is here -->
<section class=" w-full py-8 lg:py-20 pb-28 lg:pb-40 overflow-hidden md:overflow-visible">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 xl:gap-24 md:gap-y-0 xl:gap-y-0 items-center justify-center">
            <div class=" flex items-center justify-center py-10 md:py-0 xl:pr-16">
                <img class=" mx-auto" src="https://www.6storage.com/img/storagetype/automation.png" alt="Automation">
            </div>
            <div class="space-y-4 lg:space-y-6">
                <div class=" flex">
                    <svg class="h-5 w-5 text-green-400" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <path d="M3 21v-13l9-4l9 4v13" />
                        <path d="M13 13h4v8h-10v-6h6" />
                        <path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" />
                    </svg>
                    <p class=" text-base text-green-400 font-bold uppercase grow ml-2">Unmanned</p>
                </div>
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">Get automated</h3>
                </div>
                <div>
                    <p class=" text-base font-normal cc-sky-blue-100 text-justify ">6Storage allows more unmanned
                        operations together with gate access system integrations. Deal with delinquent tenants by
                        restricting access to the facility</p>
                </div>
                <div>
                    <ul class=" text-base font-normal cc-sky-blue-100">
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Added integrations to
                            perform all the storage operations from one place</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Auto overlock units all
                            the unpaid leases & trigger auto email/sms notifications</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Run your business
                            smoothly without even visiting it in person & let software handle repetitive tasks</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" relative z-50">
        <div
            class=" absolute top-5 md:top-16 lg:top-20 xl:top-20 2xl:top-20 right-3 md:right-6 lg:right-8 xl:right-10 2xl:right-12 transform z-0">
            <img class=" w-60 md:w-64 lg:w-72 xl:w-80 2xl:w-96"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/3245136f-721f-4a70-e6ff-ef1cbb52e800/6Storage"
                alt="RV-Boat">
        </div>
    </div>
</section>
<!-- Say yes to automation  Design is here -->
<section class="  w-full py-32 lg:py-40 lg:pt-56  bg-transparent relative"
    style="background-image: linear-gradient(140deg, #8b24fc 0%, #2c0efe 100%);">
    <div class=" bg-cover opacity-80 bg-center absolute left-0 top-0 h-full w-full"
        style="background-image: url(https://demo.themovation.com/stratus/wp-content/uploads/2019/06/CTA-bg.png);">
    </div>
    <div class=" absolute -top-1 overflow-hidden left-0 w-full ">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: calc(240% + 1.3px);" fill="#fff"
            class=" h-32 lg:h-56 block transform -translate-x-1/2 left-1/2 relative" viewBox="0 0 1000 100"
            preserveAspectRatio="none">
            <path class="elementor-shape-fill"
                d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7 c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4 c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z">
            </path>
        </svg>
    </div>
    <div class=" container max-w-7xl mx-auto px-7 lg:px-10 xl:px-8 relative">
        <div class=" grid grid-cols-1 gap-5 lg:gap-8  text-center text-white max-w-3xl mx-auto">
            <div class=" max-w-5xl mx-auto ">
                <h2 class=" text-xl md:text-2xl lg:text-3xl xl:text-4xl font-medium"><span class=" leading-snug">Say yes
                        to automation & free your time massively while running your business</span></h2>
            </div>
            <div>
                <p class=" text-lg md:text-xl font-normal">Take a look at all the other software features & see a 1-on-1
                    demo for a quick understanding of utilizing software for RV storage business</p>
            </div>
            <div
                class=" py-2 lg:py-3.5 max-w-4xl mx-auto flex flex-col md:flex-row justify-evenly items-center space-y-7 md:space-y-0 md:space-x-7">
                <a href="#"
                    class=" text-white text-sm sm:text-base lg:text-lg text-center font-extrabold not-italic leading-9 outline-none bg-blue-800 rounded-full py-2.5 px-10 md:px-12 lg:px-14 border-2 border-transparent shadow-2xl hover:shadow-none hover:text-blue-700 hover:bg-white hover:border-gray-900 transition-all duration-300  transform ease-linear uppercase tracking-wider">Book
                    Demo</a><a href="{% url 'feature' %}"
                    class=" text-sm sm:text-base lg:text-lg text-center font-bold uppercase tracking-wider not-italic bg-white text-blue-700 py-2.5 px-10 md:px-12 lg:px-14 border-2 border-blue-200 rounded-full leading-9 outline-none hover:bg-purple-200 hover:border-blue-700 hover:text-blue-700 hover:shadow-lg transition-all duration-400 transform ease-linear">See
                    all features</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}