{% extends 'base.html' %}

{% block content %}
<!-- Affordable software to organize Design is here -->
<section class=" w-full py-10 md:pt-16 lg:py-20 pb-5 lg:pb-8 cc-bg-blue-50 overflow-hidden">
    <div class=" relative">
        <div
            class=" absolute top-72 sm:top-40  md:top-28 lg:top-28 xl:top-5 2xl:top-6 -left-28 sm:-left-10 md:-left-10 lg:-left-2 xl:-left-10 2xl:left-5">
            <img class=" w-60 md:w-56 lg:w-72 xl:w-80 2xl:w-96"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/ae794b5e-a8aa-4cc2-66d3-05e910322c00/6Storage"
                alt="self-storage-1">
        </div>
    </div>
    <div class=" container max-w-5xl mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 gap-5 lg:gap-8  text-center cc-sky-blue-100">
            <div class=" max-w-5xl mx-auto">
                <h1 class=" text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-medium"><span
                        class=" leading-snug"><span>Self storage software to</span><span class=" font-extrabold"> your
                            rescue,</span><span> Handle </span><span class=" font-extrabold">operations
                        </span><span>with ease</span></span></h1>
            </div>
            <div class=" max-w-4xl mx-auto">
                <p class=" text-lg md:text-xl font-normal">Traditional self storage facilities cannot achieve peak
                    management results with Excel sheets or accounting software alone.</p>
            </div>
            <div
                class=" py-2 lg:py-3.5 max-w-4xl mx-auto flex flex-col md:flex-row justify-evenly items-center space-y-7 md:space-y-0 md:space-x-7">
                <a href="#"
                    class=" text-white text-sm sm:text-base lg:text-lg text-center font-extrabold not-italic leading-9 outline-none bg-blue-700 rounded-full py-2.5 px-10 md:px-12 lg:px-14 border-2 border-transparent shadow-xl hover:shadow-none hover:text-blue-700 hover:bg-white hover:border-blue-700 transition-all duration-300  transform ease-linear uppercase tracking-wider">Free
                    signup</a><a href="#"
                    class=" text-sm sm:text-base lg:text-lg text-center font-bold uppercase tracking-wider not-italic bg-white text-blue-700 py-2.5 px-10 md:px-12 lg:px-14 border-2 border-blue-200 rounded-full leading-9 outline-none hover:bg-purple-100 hover:border-blue-700 hover:text-blue-700 hover:shadow-lg transition-all duration-400 transform ease-linear">Live
                    demo</a>
            </div>
        </div>
    </div>
</section>
<section class=" w-full pb-3 lg:pb-5 overflow-x-hidden hidden md:block"
    style=" background-image: linear-gradient(180deg, #F2F4FC 65%, #FFFFFF 60%);">
    <div class=" container max-w-7xl mx-auto px-7  lg:px-10 xl:px-8">
        <div class=" z-50 relative">
            <img class="mx-auto w-2/3 z-50"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/29736099-a39d-4395-815b-f810e806bf00/6Storage"
                alt="main self storage">
        </div>
    </div>
</section>
<!-- One dashboard – 360 view design is here -->
<section class=" w-full py-7 lg:py-14 overflow-hidden">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 md:gap-y-0 items-center justify-center">
            <div class=" flex items-center justify-center py-10 md:py-0 xl:pr-16">
                <img class=" mx-auto" src="https://www.6storage.com/img/storagetype/dashboard.png" alt="Dashboard">
            </div>
            <div class="space-y-4 lg:space-y-6">
                <div class=" flex">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-none text-base text-green-400 font-bold"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
                    </svg>
                    <p class=" text-base text-green-400 tracking-wider font-bold uppercase grow ml-2">Admin</p>
                </div>
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">One dashboard –
                        360 view</h3>
                </div>
                <div>
                    <p class=" text-base font-normal cc-sky-blue-100 text-justify ">See your facility status on one
                        dashboard: payments made, list of overdue tenants on upcoming days, total units
                        occupied/repaired, and customer conversion mediums</p>
                </div>
                <div>
                    <ul class=" text-base font-normal cc-sky-blue-100">
                        <li><span class=" text-xl font-semibold text-blue-700 ">&#10003;</span> Lead source details</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Credit card payments made
                        </li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Overdue tenants, unit
                            status & more</li>
                    </ul>
                </div>
                <div class=" px-4 lg:px-3 py-3.5 lg:py-6 shadow-xl  cc-bg-blue-50 rounded-md">
                    <div class="flex items-center">
                        <div class="flex-none w-14 h-14 flex items-start justify-center">
                            <img class=" rounded-full" src="https://www.6storage.com/img/storagetype/avatarm.png"
                                alt="Avatar">
                        </div>
                        <div class="grow h-14 font-medium">
                            <p class=" text-sm xl:text-base text-gray-800 ">“Everything you need - all in one
                                dashboard.”</p>
                            <p class=" text-sm xl:text-base text-blue-700 ">- Patrick</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Integrations  design is here -->
<section class=" w-full py-8 lg:py-20 overflow-hidden">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 md:gap-y-0 items-center justify-center ">
            <div class="space-y-4 lg:space-y-6">
                <div class=" flex">
                    <svg viewBox="0 0 16 16"
                        class="bi bi-intersect h-5 w-5 flex-none text-base text-green-400 font-bold" fill="#34d399"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm5 10v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v5a2 2 0 0 1-2 2H5zm6-8H6a2 2 0 0 0-2 2v5H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2z">
                        </path>
                    </svg>
                    <p class=" text-base text-green-400 font-bold uppercase grow ml-2">Integrations</p>
                </div>
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">Integrations for
                        added help</h3>
                </div>
                <div>
                    <p class=" text-base font-normal cc-sky-blue-100 text-justify ">Gate access systems like PTI,
                        accounting software like QBO, auto email/sms notifications are handled through one software –
                        reduces time & effort in overall facility operations</p>
                </div>
                <div>
                    <ul class=" text-base font-normal cc-sky-blue-100">
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> PTI, 6Security, SC
                            Solutions, QuikStor, Noke, Senitel gate access systems</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> QBO, Hogia and Getpayroll
                            accounting software</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Sendgrid to trigger auto
                            emails and Twilio to use for 2 way SMS</li>
                    </ul>
                </div>
                <div
                    class=" px-4 lg:px-3 py-3.5 lg:py-6 shadow-xl cc-bg-blue-50 rounded-md h-28 sm:h-auto md:h-24 lg:h-auto">
                    <div class="flex items-center">
                        <div class="flex-none w-14 h-14 flex items-start justify-center">
                            <img class=" rounded-full" src="https://www.6storage.com/img/storagetype/avatarm.png"
                                alt="Avatar">
                        </div>
                        <div class="grow h-14 font-medium">
                            <p class=" text-sm xl:text-base text-gray-800 ">“6storage has excellent service for
                                integration with all gate access”</p>
                            <p class=" text-sm xl:text-base text-blue-700 ">- Ronald</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" flex items-center justify-center py-10 md:py-0 xl:pl-16 order-first md:order-none">
                <img class=" mx-auto" src="https://www.6storage.com/img/storagetype/integration.png" alt="Integration">
            </div>
        </div>
    </div>
</section>
<!-- Tenant portal Design is here -->
<section class=" w-full py-8 lg:py-20 pb-32 md:pb-36 lg:pb-32 xl:pb-36 overflow-visible">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-14 md:gap-y-0 items-center justify-center">
            <div class=" flex items-center justify-center py-10 md:py-0 xl:pr-16">
                <img class=" mx-auto" src="https://www.6storage.com/img/storagetype/tenant%20portal.png"
                    alt="Dashboard">
            </div>
            <div class="space-y-4 lg:space-y-6">
                <div class=" flex">
                    <svg viewBox="0 0 16 16" class="bi bi-building h-5 w-5 flex-none text-base text-green-400 font-bold"
                        fill="#34d399" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z">
                        </path>
                        <path
                            d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z">
                        </path>
                    </svg>
                    <p class=" text-base text-green-400 font-bold uppercase grow ml-2">Easy Renting</p>
                </div>
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">Tenant portal –
                        online move in</h3>
                </div>
                <div>
                    <p class=" text-base font-normal cc-sky-blue-100 text-justify ">Your tenant will thank you for
                        creating such an easy renting process, with the tenant portal API and an optional Wordpress PWA
                        plugin to rent units via mobile app</p>
                </div>
                <div>
                    <ul class=" text-base font-normal cc-sky-blue-100">
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Tenant portal without
                            redirection with simple wordpress plugin</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Seamless online booking
                        </li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Allow your tenants to
                            reserve and enquire</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> One click installation in
                            the wordpress site</li>
                        <li><span class=" text-xl font-semibold text-blue-700">&#10003;</span> Translate to your own
                            local language</li>
                    </ul>
                </div>
                <div
                    class=" px-4 lg:px-3 py-3.5 lg:py-6 shadow-xl cc-bg-blue-50 rounded-md h-28 sm:h-auto md:h-24 lg:h-auto">
                    <div class="flex items-center">
                        <div class="flex-none w-14 h-14 flex items-start justify-center">
                            <img class=" rounded-full" src="https://www.6storage.com/img/storagetype/avatarm.png"
                                alt="Avatar">
                        </div>
                        <div class="grow h-14 font-medium">
                            <p class=" text-sm xl:text-base text-gray-800 ">“They have build our storage a seo friendly
                                website which zoomed our business”</p>
                            <p class=" text-sm xl:text-base text-blue-700 ">- Kate Mark</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" relative z-50">
        <div
            class=" absolute top-5 md:top-5 lg:top-4 xl:top-4 2xl:top-4 right-3 md:right-6 lg:right-8 xl:right-8 2xl:right-8 transform z-0">
            <img class=" w-40 md:w-52 lg:w-52 xl:w-60 2xl:w-72"
                src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/1170d43c-4dd9-4fb5-bd36-4d11b00ff200/6Storage"
                alt="self-storage-2">
        </div>
    </div>
</section>
<!-- Explore all Design is here -->
<section class="  w-full py-32 lg:py-40 lg:pt-56 bg-transparent relative"
    style="background-image: linear-gradient(140deg, #8b24fc 0%, #2c0efe 100%);">
    <div class=" bg-cover opacity-80 bg-center absolute left-0 top-0 h-full w-full"
        style="background-image: url(https://demo.themovation.com/stratus/wp-content/uploads/2019/06/CTA-bg.png);">
    </div>
    <div class=" absolute -top-1 overflow-hidden left-0 w-full ">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: calc(240% + 1.3px);" fill="#fff"
            class=" h-32 lg:h-56 block transform -translate-x-1/2 left-1/2 relative" viewBox="0 0 1000 100"
            preserveAspectRatio="none">
            <path class="elementor-shape-fill"
                d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7 c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4 c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z">
            </path>
        </svg>
    </div>
    <div class=" container max-w-7xl mx-auto px-7 lg:px-10 xl:px-8 relative">
        <div class=" grid grid-cols-1 gap-5 lg:gap-8  text-center text-white max-w-3xl mx-auto">
            <div class=" max-w-5xl mx-auto ">
                <h2 class=" text-xl md:text-2xl lg:text-3xl xl:text-4xl font-medium"><span class=" leading-snug">Explore
                        all the other 6Storage features & ask your questions on a live demo</span></h2>
            </div>
            <div>
                <p class=" text-lg md:text-xl font-normal">We got you covered on managing multiple locations, following
                    up with new leads and many more functions</p>
            </div>
            <div
                class=" py-2 lg:py-3.5 max-w-4xl mx-auto flex flex-col md:flex-row justify-evenly items-center space-y-7 md:space-y-0 md:space-x-7">
                <a href="#"
                    class=" text-white text-sm sm:text-base lg:text-lg text-center font-extrabold not-italic leading-9 outline-none bg-blue-800 rounded-full py-2.5 px-10 md:px-12 lg:px-14 border-2 border-transparent shadow-2xl hover:shadow-none hover:text-blue-700 hover:bg-white hover:border-gray-900 transition-all duration-300  transform ease-linear uppercase tracking-wider">Book
                    Demo</a>
                <a href="{% url 'feature' %}"
                    class=" text-sm sm:text-base lg:text-lg text-center font-bold uppercase tracking-wider not-italic bg-white text-blue-700 py-2.5 px-10 md:px-12 lg:px-14 border-2 border-blue-200 rounded-full leading-9 outline-none hover:bg-purple-200 hover:border-blue-700 hover:text-blue-700 hover:shadow-lg transition-all duration-400 transform ease-linear">See
                    all features</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}