<footer class=" w-full pt-6 lg:pt-8 2xl:pt-12 relative">
    <section class=" w-full py-3 px-5 xl:px-0 pb-1 bg-gray-100">
        <div class=" container mx-auto lg:px-2">
            <div class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 sm:gap-10 lg:gap-8">
                <div class=" sm:col-span-2">
                    <h4
                        class=" text-lg md:text-base font-medium text-black pb-2 border-b border-dashed border-gray-400">
                        Quick Links</h4>
                    <div class=" grid grid-cols-2 md:gap-3 lg:pt-4 pt-3">
                        <div>
                            <ul class=" text-sm font-normal">
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="<?php echo get_site_url().'/aboutus/'; ?>" class=" hover:underline">
                                            About us
                                        </a>
                                    </span>
                                </li>
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="<?php echo get_site_url().'/'; ?>" class=" hover:underline">
                                            Contact Us
                                        </a>
                                    </span>
                                </li>
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="<?php echo get_site_url().'/'; ?>" class=" hover:underline">
                                            Team
                                        </a>
                                    </span>
                                </li>
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="<?php echo get_site_url().'/marketplace/'; ?>" class=" hover:underline">
                                            Partners
                                        </a>
                                    </span>
                                </li>
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="https://developer.6storage.com/" class=" hover:underline">
                                            Developers
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class=" text-sm font-normal">
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="<?php echo get_site_url().'/'; ?>" class=" hover:underline">
                                            Case Study
                                        </a>
                                    </span>
                                </li>
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="<?php echo get_site_url().'/'; ?>" class=" hover:underline">
                                            Research Room
                                        </a>
                                    </span>
                                </li>
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="<?php echo get_site_url().'/'; ?>" class=" hover:underline">
                                            Referral Program
                                        </a>
                                    </span>
                                </li>
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="https://techsupport.6storage.com/support/discussions/forums/19000173220)"
                                            class=" hover:underline">
                                            What's New
                                        </a>
                                    </span>
                                </li>
                                <li class=" flex flex-row items-center text-gray-600 py-1">
                                    <svg class="h-4 w-4 text-gray-600" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 18 15 12 9 6" />
                                    </svg>
                                    <span>
                                        <a href="<?php echo get_site_url().'/'; ?>" class=" hover:underline">
                                            GDPR
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" text-left text-base sm:text-sm text-gray-600 pt-6 ">
                        <h4
                            class=" text-lg md:text-base font-medium text-black pb-2 border-b border-dashed border-gray-400">
                            About Us</h4>
                        <p class=" lg:pr-14 pt-2 lg:pt-3">
                            The website is operated by FF 11 ehf., a company incorporated in Iceland and registered at
                            Skolavordustigur 12 Reykjavik 101. (A Product of CaddyCode Solutions Pvt Ltd).
                        </p>
                        <div
                            class="  grid grid-cols-5 gap-6 sm:grid-cols-10 lg:grid-cols-8 xl:grid-cols-10 sm:gap-3 md:gap-2 py-5 sm:pb-1 px-2 sm:px-0">
                            <div>
                                <a href="https://www.facebook.com/6storage/" target="_blank">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 506.86 506.86">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: #9e9e9e;
                                                }

                                                .cls-2 {
                                                    fill: #fff;
                                                }
                                            </style>
                                        </defs>
                                        <title>facebook-round-color</title>
                                        <path class="cls-1"
                                            d="M506.86,253.43C506.86,113.46,393.39,0,253.43,0S0,113.46,0,253.43C0,379.92,92.68,484.77,213.83,503.78V326.69H149.48V253.43h64.35V197.6c0-63.52,37.84-98.6,95.72-98.6,27.73,0,56.73,5,56.73,5v62.36H334.33c-31.49,0-41.3,19.54-41.3,39.58v47.54h70.28l-11.23,73.26H293V503.78C414.18,484.77,506.86,379.92,506.86,253.43Z" />
                                        <path class="cls-2"
                                            d="M352.08,326.69l11.23-73.26H293V205.89c0-20,9.81-39.58,41.3-39.58h31.95V104s-29-5-56.73-5c-57.88,0-95.72,35.08-95.72,98.6v55.83H149.48v73.26h64.35V503.78a256.11,256.11,0,0,0,79.2,0V326.69Z" />
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="https://twitter.com/6storage" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333333 333333"
                                        shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                                        image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                                        <path
                                            d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm90493 110539c-6654 2976-13822 4953-21307 5835 7669-4593 13533-11870 16333-20535-7168 4239-15133 7348-23574 9011-6787-7211-16426-11694-27105-11694-20504 0-37104 16610-37104 37101 0 2893 320 5722 949 8450-30852-1564-58204-16333-76513-38806-3285 5666-5022 12109-5022 18661v4c0 12866 6532 24246 16500 30882-6083-180-11804-1876-16828-4626v464c0 17993 12789 33007 29783 36400-3113 845-6400 1313-9786 1313-2398 0-4709-247-7007-665 4746 14736 18448 25478 34673 25791-12722 9967-28700 15902-46120 15902-3006 0-5935-184-8860-534 16466 10565 35972 16684 56928 16684 68271 0 105636-56577 105636-105632 0-1630-36-3209-104-4806 7251-5187 13538-11733 18514-19185l17-17-3 2z"
                                            fill="#9e9e9e" />
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.linkedin.com/company/6storage" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333333 333333"
                                        shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                                        image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                                        <path
                                            d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm-18220 138885h28897v14814l418 1c4024-7220 13865-14814 28538-14814 30514-1 36157 18989 36157 43691v50320l-30136 1v-44607c0-10634-221-24322-15670-24322-15691 0-18096 11575-18096 23548v45382h-30109v-94013zm-20892-26114c0 8650-7020 15670-15670 15670s-15672-7020-15672-15670 7022-15670 15672-15670 15670 7020 15670 15670zm-31342 26114h31342v94013H96213v-94013z"
                                            fill="#9e9e9e" />
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.youtube.com/channel/UCbacBSAy5vHQTP5TT1a6cUA/videos"
                                    target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333333 333333"
                                        shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                                        image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                                        <path
                                            d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm84195 132297s-1678-11849-6843-17052c-6545-6843-13873-6887-17223-7283-24036-1751-60138-1751-60138-1751h-63s-36085 0-60135 1751c-3363 409-10681 437-17223 7283-5168 5203-6811 17052-6811 17052s-1711 13904-1711 27838v13029c0 13905 1709 27837 1709 27837s1678 11849 6811 17061c6542 6843 15139 6621 18977 7350 13761 1314 58457 1710 58457 1710s36133-64 60169-1783c3363-397 10678-438 17223-7284 5168-5202 6843-17065 6843-17065s1711-13904 1711-27837v-13028c-35-13905-1745-27837-1745-27837l-9 9-1-1zm-102010 56674v-48312l46437 24237-46437 24075z"
                                            fill="#9e9e9e" />
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.instagram.com/accounts/login/" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 333333 333333"
                                        shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                                        image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                                        <defs>
                                            <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="250181"
                                                y1="308196" x2="83152.4" y2="25137">
                                                <stop offset="0" stop-color="#f58529" />
                                                <stop offset=".169" stop-color="#feda77" />
                                                <stop offset=".478" stop-color="#dd2a7b" />
                                                <stop offset=".78" stop-color="#8134af" />
                                                <stop offset="1" stop-color="#515bd4" />
                                            </linearGradient>
                                        </defs>
                                        <path
                                            d="M166667 0c92048 0 166667 74619 166667 166667s-74619 166667-166667 166667S0 258715 0 166667 74619 0 166667 0zm-40642 71361h81288c30526 0 55489 24654 55489 54772v81069c0 30125-24963 54771-55488 54771l-81289-1c-30526 0-55492-24646-55492-54771v-81069c0-30117 24966-54771 55492-54771zm40125 43843c29663 0 53734 24072 53734 53735 0 29667-24071 53735-53734 53735-29672 0-53739-24068-53739-53735 0-29663 24068-53735 53739-53735zm0 18150c19643 0 35586 15939 35586 35585 0 19647-15943 35589-35586 35589-19650 0-35590-15943-35590-35589s15940-35585 35590-35585zm51986-25598c4819 0 8726 3907 8726 8721 0 4819-3907 8726-8726 8726-4815 0-8721-3907-8721-8726 0-4815 3907-8721 8721-8721zm-85468-20825h68009c25537 0 46422 20782 46422 46178v68350c0 25395-20885 46174-46422 46174l-68009 1c-25537 0-46426-20778-46426-46174v-68352c0-25395 20889-46177 46426-46177z"
                                            fill="#9e9e9e" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" sm:col-span-3 lg:col-span-3">
                    <h4
                        class=" text-lg md:text-base font-medium text-black pb-2 border-b border-dashed border-gray-400">
                        Get in Touch</h4>
                    <div class=" grid grid-cols-1 sm:grid-cols-2 gap-3 pt-3 lg:pt-4 text-base sm:text-sm text-gray-600">
                        <div>
                            <div class=" grid grid-cols-1 lg:grid-cols-7 items-start  gap-3">
                                <div>
                                    <img class=" mx-auto"
                                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/aecafc91-c012-4628-25d0-17a37e678500/6Storage"
                                        alt="USA">
                                </div>
                                <div class=" lg:col-span-6">
                                    <div class=" flex flex-row gap-2 py-1">
                                        <img class="h-7"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/44484d6c-c13a-464e-3cc8-3c0c7cd73900/6Storage"
                                            alt="location">
                                        <a class=" " href="https://g.page/6storage?share" target="_blank">
                                            4888 Baumgartner Road Suite C St, Louis mo 63129, USA
                                        </a>
                                    </div>
                                    <div class=" flex flex-row gap-2 py-1">
                                        <svg class="h-5 w-5 text-gray-600" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" />
                                        </svg>
                                        <a class=" " href="tel:+1 (314) 390 1191">
                                            +1 (314) 390 1191
                                        </a>
                                    </div>
                                    <div class="px-6">
                                        <span>
                                            (Ms Jessika Selsor and Ms Michelle Otto - US & Canada)
                                        </span>
                                    </div>
                                    <div class=" flex flex-row gap-2 py-1">
                                        <svg class="h-5 w-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                        </svg>
                                        <a class=" " href="mailto:jselsor@6storage.com">
                                            jselsor@6storage.com
                                        </a>
                                    </div>
                                    <div class=" flex flex-row gap-2 py-1">
                                        <svg class="h-5 w-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                        </svg>
                                        <a class=" " href="mailto:michelle@6storage.com">
                                            michelle@6storage.com
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div>
                            <div class=" grid grid-cols-1 lg:grid-cols-7 items-start  gap-3">
                                <div>
                                    <img class="mx-auto"
                                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/fd73ed7a-8832-467d-4c93-85aa12763c00/6Storage"
                                        alt="India">
                                </div>
                                <div class=" lg:col-span-6">
                                    <div class=" flex flex-row gap-2">
                                        <img class="h-7"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/44484d6c-c13a-464e-3cc8-3c0c7cd73900/6Storage"
                                            alt="location">
                                        <a class=" " href="https://g.page/caddycode?share" target="_blank">
                                            Greeta Tech Park Phase-1, South wing, #96, VSI Functional Industrial Estate,
                                            Perungudi, Chennai, Tamil Nadu 600096, India
                                        </a>
                                    </div>
                                    <div class=" flex flex-row gap-2 py-1">
                                        <svg class="h-5 w-5 text-gray-600" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" />
                                        </svg>
                                        <a class=" " href="tel:+1 (844) 334-4666">
                                            +1 (844) 334-4666
                                        </a>
                                    </div>
                                    <div class=" flex flex-row gap-2 py-1">
                                        <svg class="h-5 w-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                        </svg>
                                        <a class=" " href="mailto:support@6storage.com">
                                            support@6storage.com
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div>
                            <div class=" grid grid-cols-1 lg:grid-cols-7 items-start  gap-3">
                                <div>
                                    <img class=" mx-auto"
                                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/ae774b54-5f28-4746-3561-11d92ac57000/6Storage"
                                        alt="UK">
                                </div>
                                <div class=" lg:col-span-6">
                                    <div class=" flex flex-row gap-2">
                                        <img class="h-7"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/44484d6c-c13a-464e-3cc8-3c0c7cd73900/6Storage"
                                            alt="location">
                                        <p>Kemp House, 152-160 City Road, London EC1V 2NX, UK</p>
                                    </div>
                                    <div class=" flex flex-row gap-2 py-1">
                                        <svg class="h-5 w-5 text-gray-600" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" />
                                        </svg>
                                        <a class=" " href="tel:+44 20 7993 6661">
                                            +44 20 7993 6661
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div>
                            <div class=" grid grid-cols-1 lg:grid-cols-7 items-start  gap-3">
                                <div>
                                    <img class=" mx-auto"
                                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/6eb64a8e-d6d3-4291-a61c-2b46ee464700/6Storage"
                                        alt="Germany">
                                </div>
                                <div class=" lg:col-span-6">
                                    <div class=" flex flex-row gap-2">
                                        <img class="h-7"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/44484d6c-c13a-464e-3cc8-3c0c7cd73900/6Storage"
                                            alt="location">
                                        <a class=" " href="https://g.page/6storage-eu?share" target="_blank">
                                            Raiffeisenstraße 27 61191 Rosbach vor der Höhe Germany
                                        </a>
                                    </div>
                                    <div class=" flex flex-row gap-2 py-1">
                                        <svg class="h-5 w-5 text-gray-600" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" />
                                        </svg>
                                        <a class=" " href="tel:+49 60 0324 93898">
                                            +49 60 0324 93898
                                        </a>
                                    </div>
                                    <div class="px-6">
                                        <span>
                                            (Mr. Peter Barabas)
                                        </span>
                                    </div>
                                    <div class="px-6">
                                        <span>
                                            (Reseller Partner - Germany)
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" py-3 lg:py-1">
                <h4
                    class=" text-center text-lg md:text-base font-medium text-black pb-2 border-b border-dashed border-gray-400">
                    Our Self-Storage Associations in US</h4>
                <div class=" grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-4 lg:w-2/5 mx-auto gap-3 lg:gap-0 pt-3	">
                    <div class="flex flex-col items-center justify-center">
                        <img class=" w-16"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/f9125e86-12c7-4216-d3e2-9cae98b1ee00/6Storage"
                            alt="TEXAS">
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <img class=" w-16"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/69f7446a-7a58-485c-66c0-a0697114c500/6Storage"
                            alt="SSA">
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <img class=" w-2/5"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/b6d0f722-7fa3-4512-4e0e-6b1f22b03700/6Storage"
                            alt="KSSOA">
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <img class=" w-1/3"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/45149894-2ee6-4129-3877-0ee87d931300/6Storage"
                            alt="MSSOA">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" w-full bg-black py-3">
        <div class="container mx-auto lg:px-2">
            <div class=" grid grid-cols-1 sm:grid-cols-2 text-center md:text-left text-base text-gray-400 md:px-3">
                <div>
                    <h3 class=" font-normal">
                        &copy; Copyright 6Storage
                        <?php echo date_i18n( 'Y' );?>. All Rights Reserved.
                    </h3>
                </div>
                <div>
                    <h3 class="text-center font-normal">
                        <a href="https://www.6storage.com/privacypolicy/" target="_blank">Privacy Policy</a> ||
                        <a href="https://www.6storage.com/termsofservice/" target="_blank">Terms of Use</a>
                    </h3>
                </div>
            </div>
        </div>
    </section>
</footer>