{% extends 'base.html' %}

{% block content %}
<!-- **09** AboutUs Page is here --> <!-- Our Story - Geymslur design is here -->
<section class=" w-full py-10 md:py-14 bg-white">
    <div class=" container max-w-6xl mx-auto px-7 lg:px-10 xl:px-8 text-black">
        <div class=" py-3 md:py-5">
            <h1 class=" text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-medium text-center">Our Story</h1>
        </div>
        <div
            class=" grid grid-cols-1 sm:grid-cols-2 gap-7 lg:gap-14 items-center justify-center text-justify py-3 md:py-5">
            <div class=" flex flex-col items-start justify-center">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/6eb4bf35-8e20-4188-9d70-ef25e4643400/6Storage"
                    alt="Geymslur">
                <h4 class=" text-sm lg:text-base font-medium text-left py-3 md:py-5">Geymslur, the self storage facility
                    in Iceland</h4>
            </div>
            <div class=" text-sm lg:text-base font-normal">
                <p class=" py-1 md:py-2">We believe storage owners deserve to live life with freedom and worry less
                    about storage operations. Technological solutions and simplicity is the key. We have removed the
                    barriers that demand your constant attention.</p>
                <p class=" py-1 md:py-2">Hallgrimur started his self-storage business (Geymslur, 400+ units) in Iceland
                    in 2005. The available facility management solutions were expensive and didn’t meet his business
                    needs. That’s when 6Storage evolved in the year 2007 to facilitate the storage management of 2400+
                    units in 6 locations across Iceland.</p>
            </div>
        </div>
    </div>
</section>
<!-- Our Story - Halli design is here -->
<section class=" w-full py-10 md:py-14 bg-blue-50">
    <div class=" container max-w-6xl mx-auto px-7 lg:px-10 xl:px-8 text-black">
        <div
            class=" sm:grid grid-cols-1 sm:grid-cols-2 gap-7 lg:gap-14 flex flex-col-reverse items-center justify-center text-justify">
            <div class=" text-sm lg:text-base font-normal">
                <p class=" py-1 md:py-2">Being a storage owner, Hallgrimur understood the challenges of self storage
                    operators; hence we released 6Storage to the global storage industry with the best affordable price.
                    During the initial years, we took insights from our best US customer and customized the software
                    with more features and enhancements. This gave us an edge among other US self storage software
                    companies. 6Storage had a 158% growth in business within the first year and became popular in the US
                    market</p>
            </div>
            <div class=" flex flex-col items-start justify-center">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/b421f0fd-6681-47c1-8a20-e0a85e961b00/6Storage"
                    alt="Halli">
                <h4 class=" text-sm lg:text-base font-medium text-left py-3 md:py-5">Halli, founder of 6Storage, posing
                    from the facility</h4>
            </div>
        </div>
    </div>
</section>
<!-- Our Story - Ronald design is here -->
<section class=" w-full py-10 md:py-14 bg-white">
    <div class=" container max-w-6xl mx-auto px-7 lg:px-10 xl:px-8 text-black">
        <div class=" grid grid-cols-1 sm:grid-cols-2 gap-7 lg:gap-14 items-center justify-center text-justify">
            <div class=" flex flex-col items-start justify-center">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/d3a6fe6b-8e6f-4ed7-de8b-0f6013707700/6Storage"
                    alt="Ronald">
                <h4 class=" text-sm lg:text-base font-medium text-left py-3 md:py-5">Ronald, the storage consultant in
                    Italy, making decisions in front of 1Spazio</h4>
            </div>
            <div class=" text-sm lg:text-base font-normal">
                <p class=" py-1 md:py-2">In 2018, Ronald partnered with Hallgrimur and built a chain of self storage
                    facilities (1Spazio) in Italy. Ronald being a storage consultant suggested us inputs which we
                    implemented on 6Storage application to aid the European market. Few European customers requested
                    features like XML invoicing, fiscal year reset etc. and now we’ve tailored our application for the
                    European market as well. In time,</p>
                <p class=" py-1 md:py-2">1) we integrated with some major global payment gateways so global users can
                    make online payments with nominal transactional fees, and</p>
                <p class=" py-1 md:py-2">2) sms/email integrations for auto reminders.</p>
            </div>
        </div>
    </div>
</section>
<!-- Our Story - Halli and Mastan design is here -->
<section class=" w-full py-10 md:py-14 bg-blue-50">
    <div class=" container max-w-6xl mx-auto px-7 lg:px-10 xl:px-8 text-black">
        <div
            class=" flex flex-col-reverse sm:grid grid-cols-1 sm:grid-cols-2 gap-7 lg:gap-14 items-center justify-center text-justify">
            <div class=" text-sm lg:text-base font-normal">
                <p class=" py-1 md:py-2">The 6Storage dev and support teams are based in India. Mastan, the product head
                    manages the small team of experts. With his management and the team’s capacity, 6Storage has gained
                    the name “friendly customer support 24/7”. Mastan is a strong believer of “Lean Product
                    Development”.</p>
                <p class=" py-1 md:py-2">We now have storage facilities of 30+ countries using our application. Apart
                    from delivering software solutions, we’re transparent in pricing and are open to customization.</p>
            </div>
            <div class=" flex flex-col items-start justify-center">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/b2fa2a6e-daf6-4a42-6935-60296c68ba00/6Storage"
                    alt="Halli_and_Mastan">
                <h4 class=" text-sm lg:text-base font-medium text-left py-3 md:py-5">Halli and Mastan (co-founder)
                    enjoying the winter!</h4>
            </div>
        </div>
    </div>
</section>
<!-- Our Story - Mastan design is here -->
<section class=" w-full py-10 md:py-14 bg-white">
    <div class=" container max-w-6xl mx-auto px-7 lg:px-10 xl:px-8 text-black">
        <div class=" grid grid-cols-1 sm:grid-cols-2 gap-7 lg:gap-14 items-center justify-center text-justify">
            <div class=" flex flex-col items-start justify-center">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/9ff29af3-91ba-47a4-14cc-7e194f7d0100/6Storage"
                    alt="Mastan">
                <h4 class=" text-sm lg:text-base font-medium text-left py-3 md:py-5">Mastan, recognized as one among the
                    top 50 tech leaders, InterCon Global</h4>
            </div>
            <div class=" text-sm lg:text-base font-normal">
                <p class=" py-1 md:py-2">Being a product development company, we added several verticals like storage
                    calculator and storage websites to give users the one-stop shop for all your online storage
                    management needs. Then in 2018, we searched for an affordable gate access system for 1Spazio (70
                    units). Frustrated.. and confused with the price & legacy of integration.. we scratched our own
                    itch… in short, we developed our own gate access solution (6Security) which allows global storage
                    owners to secure their facility without relying on the support of an onboard computer. Ronald is the
                    head of the operations and we work along as partners. We’re excited to help you on your journey of
                    life!</p>
            </div>
        </div>
        <div class=" flex flex-col sm:flex-row items-center justify-center py-3 md:py-5">
            <a href="#"
                class=" outline-none bg-blue-600 py-2 px-2 md:py-2 md:px-5 xl:py-2 xl:px-5 text-white rounded text-sm lg:text-base font-bold my-3 md:my-0 mr-3 lg:mr-5 shadow-xl hover:shadow-inner hover:bg-blue-700">Show
                me software demo</a><a href="#"
                class=" outline-none bg-gray-400 py-2 px-2 md:py-2 md:px-5 xl:py-2 xl:px-5 text-white rounded text-sm lg:text-base font-bold my-3 md:my-0 hover:bg-gray-500">Talk
                to us</a>
        </div>
    </div>
</section>
{% endblock %}