{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<!-- **05** Self_Storage_Website page design is here --> <!-- Tenant Bookings design is here -->
<section class=" w-full py-10 md:py-14 bg-gray-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-7 items-center justify-center text-black">
            <div>
                <div>
                    <h1 class=" text-2xl md:text-3xl font-medium text-blue-800 ">Increase Tenant Bookings, Increase
                        Occupancy , Get more leads on Websites for Self Storage</h1>
                </div>
                <div class=" py-5">
                    <p class=" text-base font-normal">Since mobile web browsing has surpassed desktop as the ultimate
                        choice for internet users, 6storage website design services are built to provide your page
                        visitors with a positive, engaging mobile experience.</p>
                </div>
                <div class=" flex flex-row items-center md:items-start justify-center md:justify-start">
                    <a href="{% url 'templates' %}"
                        class=" outline-none bg-blue-800 py-3 px-3 md:py-3 md:px-6 xl:py-4 xl:px-8 text-white rounded text-base font-bold my-3 md:my-0 mr-5 shadow-xl hover:shadow-inner">View
                        Templates</a>
                    <a href="{% url 'website-registration' %}"
                        class=" outline-none bg-purple-200 py-3 px-3 md:py-3 md:px-6 xl:py-4 xl:px-8 text-blue-800 rounded text-base font-bold my-3 md:my-0 hover:bg-blue-800 hover:text-white">Buy
                        Now</a>
                </div>
            </div>
            <div class="">
                <img class=" w-full h-auto -ml-5 md:-ml-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/167b2560-f46e-43da-1e87-a532a9bc6b00/6Storage"
                    alt="Website_Banner">
            </div>
        </div>
    </div>
</section>
<!-- 6Storage mobile design is here -->
<section class=" w-full py-10 md:py-14 bg-white">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 gap-1 text-center py-2 pb-7 md:pb-12 text-gray-700">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium">6Storage mobile-optimized website features</h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div
            class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5 gap-y-16 md:gap-y-16 lg:gap-y-0 md:gap-10 lg:gap-6 xl:gap-9 py-5 md:py-8 items-stretch justify-start text-gray-700 text-center">
            <div
                class=" website_Clip_tri_shape bg-gradient-to-b from-gray-100 to-gray-200 px-2 pb-16 sm:pb-20 lg:px-4 lg:pb-16">
                <div class="mx-auto flex flex-row items-center justify-center bg-no-repeat bg-center -my-7 p-9 pb-5 pt-0"
                    style="background-image: url('https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/7f74299d-146e-47a3-5951-29ef1a6eb600/6Storage');">
                    <img class=" w-8 h-auto my-auto  pt-8" src="https://www.6storage.com/img/MFD-icon.svg"
                        alt="MFD-icon">
                </div>
                <div class=" py-2 md:py-3 mt-5 pb-8 sm:pb-11 md:pb-5 lg:pb-14">
                    <h4 class=" text-base md:text-lg lg:text-base xl:text-lg font-semibold text-blue-800 py-1 lg:py-2">
                        Mobile First Design</h4>
                    <p class=" text-sm  font-normal y-1 lg:py-2">Any new tenant visiting your website would feel at ease
                        renting units from their mobile without any complexity</p>
                </div>
            </div>
            <div class=" website_Clip_tri_shape bg-gradient-to-b from-gray-100 to-gray-200 px-2 pb-16 lg:px-4 lg:pb-9">
                <div class="mx-auto flex flex-row items-center justify-center bg-no-repeat bg-center -my-7 p-9 pb-9 pt-0"
                    style="background-image: url('https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/7f74299d-146e-47a3-5951-29ef1a6eb600/6Storage');">
                    <img class=" w-12 h-auto my-auto  pt-8"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/73213d96-9ec8-4cea-b6dc-e239541a6300/6Storage"
                        alt="Responsive_Design">
                </div>
                <div class=" py-2 md:py-3 mt-5 pb-5 lg:pb-8">
                    <h4 class=" text-base md:text-lg lg:text-base xl:text-lg font-semibold text-blue-800 py-1 lg:py-2">
                        Responsive web design</h4>
                    <p class=" text-sm font-normal y-1 lg:py-2">Self storage websites need to look perfect on all
                        devices with proper rendering so you can rank higher on search as per Google’s new algorithm on
                        responsive websites</p>
                </div>
            </div>
            <div class=" website_Clip_tri_shape bg-gradient-to-b from-gray-100 to-gray-200 px-2 pb-16 lg:px-4 lg:pb-12">
                <div class="mx-auto flex flex-row items-center justify-center bg-no-repeat bg-center -my-7 p-9 pb-8 pt-0"
                    style="background-image: url('https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/7f74299d-146e-47a3-5951-29ef1a6eb600/6Storage');">
                    <img class=" w-12 h-auto my-auto  pt-8"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/0250fa4b-a906-4802-43fa-7b7c65692800/6Storage"
                        alt="Behavioural_Design">
                </div>
                <div class=" py-2 md:py-3 mt-5 pb-6 lg:pb-8">
                    <h4 class=" text-base md:text-lg lg:text-base xl:text-lg font-semibold text-blue-800 py-1 lg:py-2">
                        Behavioural design</h4>
                    <p class=" text-sm font-normal y-1 lg:py-2">Interact with your website visitors that enquire on
                        renting or any actionable trigger points based on their behavioural pattern, then follow up in a
                        personalized way</p>
                </div>
            </div>
            <div
                class=" website_Clip_tri_shape bg-gradient-to-b from-gray-100 to-gray-200 px-2 pb-16 sm:pb-20 lg:px-4 lg:pb-16">
                <div class="mx-auto flex flex-row items-center justify-center bg-no-repeat bg-center -my-7 p-9 pb-9 pt-0"
                    style="background-image: url('https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/7f74299d-146e-47a3-5951-29ef1a6eb600/6Storage');">
                    <img class=" w-12 h-auto my-auto  pt-8"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/d750468d-0a18-4baa-a9f6-85dceff89500/6Storage"
                        alt="Prompt_Support">
                </div>
                <div class=" py-2 md:py-3 mt-5 pb-6 lg:pb-14">
                    <h4 class=" text-base md:text-lg lg:text-base xl:text-lg font-semibold text-blue-800 py-1 lg:py-2">
                        Prompt support</h4>
                    <p class=" text-sm font-normal y-1 lg:py-2">Don’t stress when you need help. Simply talk to us on
                        any medium, anytime and get free support on: livechat / <a class=" text-blue-800 font-medium"
                            href="tel:+1 (844) 334-4666">phone</a> or <a class=" text-blue-800 font-medium"
                            href="mailto:support@6storage.com">email</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- The secret behind how websites design is here-->
<section class=" w-full py-10 md:py-14 bg-white">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 gap-1 text-center py-2 pb-7 md:pb-12 text-gray-700">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium">The secret behind how websites should be built?
            </h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10 items-center justify-center text-gray-700 text-left">
            <div>
                <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/a099194b-e400-46a2-f712-0ce1fa88cd00/6Storage"
                    alt="Websites _Content">
            </div>
            <div>
                <div>
                    <div
                        class=" flex flex-row items-start md:items-center justify-start md:justify-center py-3 md:py-0">
                        <div
                            class=" flex-none bg-green-600 rounded-full items-center justify-center animate-pulse delay-75 duration-700">
                            <svg class="h-8 w-8 text-white p-1" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="20 6 9 17 4 12" />
                            </svg>
                        </div>
                        <div class=" flex-grow pl-5 pb-2 lg:pb-4 border-b border-dashed border-gray-300 ">
                            <h4 class=" text-lg font-medium py-1 lg:py-2">Websites for Self Storage Tenants</h4>
                            <p class=" text-base font-normal py-1 lg:py-2">Build a website for your tenant's user
                                experience. Tenants tend to have a better viewpoint of businesses when offered a
                                seamless mobile experience.</p>
                        </div>
                    </div>
                    <div
                        class=" flex flex-row items-start md:items-center justify-start md:justify-center py-3 md:py-0">
                        <div
                            class=" flex-none bg-blue-400 rounded-full items-center justify-center animate-pulse delay-75 duration-700">
                            <svg class="h-8 w-8 text-white p-1" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="20 6 9 17 4 12" />
                            </svg>
                        </div>
                        <div class=" flex-grow pl-5 pb-2 lg:pb-4 border-b border-dashed border-gray-300 ">
                            <h4 class=" text-lg font-medium py-1 lg:py-2">Understand your tenant's user intent</h4>
                            <p class=" text-base font-normal py-1 lg:py-2">Deliver content that can drive user journey
                                into the conversion funnel. Plus, a well-designed website can boost your conversion
                                rate.</p>
                        </div>
                    </div>
                    <div
                        class=" flex flex-row items-start md:items-center justify-start md:justify-center py-3 md:py-0">
                        <div
                            class=" flex-none bg-red-600 rounded-full items-center justify-center animate-pulse delay-75 duration-700">
                            <svg class="h-8 w-8 text-white p-1" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="20 6 9 17 4 12" />
                            </svg>
                        </div>
                        <div class=" flex-grow pl-5 pb-2 lg:pb-4 border-b border-dashed border-gray-300 ">
                            <h4 class=" text-lg font-medium py-1 lg:py-2">Website is the face of your company</h4>
                            <p class=" text-base font-normal py-1 lg:py-2">Enhanced user experience improves brand image
                                and increases online trust. You can create a positive first impression with consumers.
                            </p>
                        </div>
                    </div>
                    <div
                        class=" flex flex-row items-start md:items-center justify-start md:justify-center py-3 md:py-0">
                        <div
                            class=" flex-none bg-yellow-600 rounded-full items-center justify-center animate-pulse delay-75 duration-700">
                            <svg class="h-8 w-8 text-white p-1" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="20 6 9 17 4 12" />
                            </svg>
                        </div>
                        <div class=" flex-grow pl-5 pb-2 lg:pb-4 border-b border-dashed border-gray-300 ">
                            <h4 class=" text-lg font-medium py-1 lg:py-2">Don't run behind the competition</h4>
                            <p class=" text-base font-normal py-1 lg:py-2">Make sure that your business stands apart
                                from competitors in your industry with your website, emphasizing that your service is
                                the best.</p>
                        </div>
                    </div>
                    <div
                        class=" flex flex-row items-start md:items-center justify-start md:justify-center py-3 md:py-0">
                        <div
                            class=" flex-none bg-gray-600 rounded-full items-center justify-center animate-pulse delay-75 duration-700">
                            <svg class="h-8 w-8 text-white p-1" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="20 6 9 17 4 12" />
                            </svg>
                        </div>
                        <div class=" flex-grow pl-5 pb-2 lg:pb-4 border-b border-dashed border-gray-300 ">
                            <h4 class=" text-lg font-medium py-1 lg:py-2">Don't miss the gaps</h4>
                            <p class=" text-base font-normal py-1 lg:py-2">A website offers an immense return on
                                investment (ROI). Tightly integrate with your communication system at every touch/click
                                point of your user journey.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing design is here -->
<section class=" w-full py-10 md:py-14 bg-gray-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 gap-1 text-center py-2 pb-7 md:pb-12 text-gray-700">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium">Pricing</h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div class=" max-w-3xl mx-auto py-6 md:py-10 relative z-10">
            <div
                class=" grid grid-cols-1 md:grid-cols-2 gap-5 gap-y-14 md:gap-y-0 lg:gap-10 items-stretch justify-start text-left text-gray-700">
                <div class=" bg-white border border-solid border-gray-200 z-10 px-4 lg:px-6 pb-5 lg:pb-8">
                    <div class=" flex flex-row items-center justify-center z-50 -translate-y-10 transform -bottom-4">
                        <img class=" w-20 h-auto bg-white rounded-full border border-solid border-gray-300 p-5"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/7544cab8-f883-4326-7ac5-741fb9c42b00/6Storage"
                            alt="Star_Icon_Professional">
                    </div>
                    <div class=" text-center">
                        <h4 class=" text-base md:text-lg font-bold pb-1 lg:pb-3">PROFESSIONAL</h4>
                        <h5 class=" py-1 lg:pt-3 "><span><sup class=" text-lg font-medium ">$</sup></span><span
                                class=" text-xl md:text-2xl lg:text-3xl">300</span></h5>
                        <p class=" text-base font-bold py-1">One Time Charge</p>
                        <p class=" text-base py-1 lg:py-2"><span class=" font-bold">$50</span> <span>Per Month Hosting
                                Charge</span></p>
                    </div>
                    <div class=" py-5 lg:py-8">
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Many Website Designs to choose</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Delivered within 7 Days</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Unique Tenant Portal</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">1 Logo Design</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">24/7 Technical Support</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Online Rental Portal</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Integrates with 6Storage Software
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" flex flex-row items-center justify-center py-3 lg:py-6">
                        <a href="{% url 'website-registration' %}"
                            class=" outline-none bg-blue-800 py-3 px-3 md:py-3 md:px-6 xl:py-4 xl:px-8 text-white rounded text-base font-bold my-3 md:my-0 shadow-xl hover:shadow-inner">Create
                            My Website</a>
                    </div>
                </div>
                <div
                    class="Website_pricing_border_white bg-white border border-solid border-gray-200 z-10 px-4 lg:px-6 pb-5 lg:pb-8">
                    <div class=" flex flex-row items-center justify-center z-50 -translate-y-10 transform -bottom-4">
                        <img class=" w-20 h-auto bg-white rounded-full border border-solid border-gray-300 p-3"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/74118c01-a8bd-459e-f520-3298b52f0700/6Storage"
                            alt="Pricing_Icon">
                    </div>
                    <div class=" text-center md:pb-12">
                        <h4 class=" text-base md:text-lg font-bold py-1 lg:py-2">CUSTOMIZED</h4>
                        <h2 class=" text-xl md:text-2xl lg:text-3xl  font-bold py-1 lg:py-0">Talk to Us</h2>
                        <hr
                            class=" border-t-4 border-blue-800 mt-1 lg:mt-1 mx-auto w-20 lg:w-28 delay-75 duration-75 transform z-10 rounded-md">
                    </div>
                    <div class=" py-5 lg:py-11">
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Unique & Customizable Designs</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Delivered within 15 Days</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Unique Tenant Portal</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Customized Logo Designing</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">24/7 Technical Support</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Online Rental Portal</p>
                            </div>
                        </div>
                        <div class=" flex flex-row items-center justify-center py-1 lg:py-2">
                            <div class=" flex-none">
                                <svg class="h-7 w-7 text-gray-700 p-1" viewBox="0 0 24 24" fill="none"
                                    stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <polyline points="20 6 9 17 4 12" />
                                </svg>
                            </div>
                            <div class=" flex-grow pl-3">
                                <p class=" text-base font-normal">Integrates with 6Storage Software
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" flex flex-row items-center justify-center py-3 lg:py-6">
                        <a href="{% url 'website-registration' %}"
                            class=" outline-none bg-blue-800 py-3 px-3 md:py-3 md:px-6 xl:py-4 xl:px-8 text-white rounded text-base font-bold my-3 md:my-0 shadow-xl hover:shadow-inner">Request
                            A Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome your website visitors design is here -->
<section class=" w-full py-10 md:py-14  bg-white">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 gap-1 text-center py-2 pb-5 md:pb-8 text-gray-700">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium">Look how you can welcome your website visitors</h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div class=" py-2 lg:py-4 text-center text-gray-700 font-normal">
            <p>Each of the 10 self storage website templates are ready to go live anytime Click on <b>any </b>and view
                it in the bigger screen</p>
        </div>
        <div>
            <main
                class="min-h-max py-7 lg:py-14 pt-4 lg:pt-5 bg-transparent text-white flex items-center justify-center"
                x-data="carouselFilter()">
                <div class="container grid grid-cols-1">
                    <div class="flex py-5 lg:py-9 justify-center">
                        <p class="px-2 text-lg text-black font-bold tracking-widest">Templates</p>
                    </div>
                    <div class="row-start-2 col-start-1" x-show.transition="active == 0">
                        <div class="grid grid-cols-1 grid-rows-1" x-data="carousel()" x-init="init()">
                            <div class="carousel col-start-1 row-start-1 relative z-50" x-ref="carousel">
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template01.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/4dd9a0cd-3834-4cae-8ad9-ec1535013900/6Storage"
                                            loading="lazy" alt="Visitors-template-1"></a>
                                </div>
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template02.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/4b08e3bd-9c95-4847-0522-9a3ceec73e00/6Storage"
                                            loading="lazy" alt="Visitors-template-2"></a>
                                </div>
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template03.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/72b38bf3-ad6a-490e-a775-a69470619900/6Storage"
                                            loading="lazy" alt="Visitors-template-3"></a>
                                </div>
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template04.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/121757aa-5e7e-405c-abad-46cc439d3400/6Storage"
                                            loading="lazy" alt="Visitors-template-4"></a>
                                </div>
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template05.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/575dc549-e109-4bf5-1123-44be57101900/6Storage"
                                            loading="lazy" alt="Visitors-template-5"></a>
                                </div>
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template06.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/3bdcf4c7-feab-40cf-1278-0a02a3c0bb00/6Storage"
                                            loading="lazy" alt="Visitors-template-6"></a>
                                </div>
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template07.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/2b018d11-eba2-4902-039e-0797b8569b00/6Storage"
                                            loading="lazy" alt="Visitors-template-7"></a>
                                </div>
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template08.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/86767dc1-e9eb-46f4-9cc9-875ef1a5ff00/6Storage"
                                            loading="lazy" alt="Visitors-template-8"></a>
                                </div>
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template09.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/8049ce19-65d8-425a-9b55-a92f200a5900/6Storage"
                                            loading="lazy" alt="Visitors-template-9"></a>
                                </div>
                                <div class="w-3/5 px-2 lg:px-3.5">
                                    <a href="https://template10.mystoragedemo.com/" target="_blank"><img
                                            class=" w-full bg-gray-300 p-3.5 lg:p-6 rounded-md"
                                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/d424a2b9-e02c-4df3-a1f9-a8f8bb42b500/6Storage"
                                            loading="lazy" alt="Visitors-template-10"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- Time well spent, what’s your website pick desin is here -->
<section class=" w-full bg-white">
    <div class=" -z-10 bg-center bg-cover bg-no-repeat bg-blend-darken visible py-7 md:py-10"
        style="background-image: url('https://images.ctfassets.net/b4k16c7lw5ut/6mGBe1jnOHXOe8YuDk9yun/04a31a78b1a7b30b133836c3957c79b1/purple_bg.svg');">
        <div
            class=" container max-w-3xl mx-auto px-7 lg:px-10 xl:px-8 py-14 text-center flex justify-center items-center flex-row flex-wrap text-white">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-bold py-3">Time well spent, what’s your website pick?</h2>
            <p class=" text-base py-2">Decide on your website template and delight your customers or contact us for a
                custom storage website.</p>
            <div class=" flex flex-row items-center md:items-start justify-center md:justify-start py-4 md:py-7">
                <a href="{% url 'website-registration' %}"
                    class=" outline-none bg-white py-3 px-4 md:py-3 md:px-6 xl:py-4 xl:px-8 text-blue-800 rounded text-base font-bold my-3 md:my-0 mr-5 shadow-xl hover:shadow-inner">Buy
                    It</a>
                <a href="#!"
                    class=" z-50 outline-none bg-white py-3 px-4 md:py-3 md:px-6 xl:py-4 xl:px-8 text-blue-800 rounded text-base font-bold my-3 md:my-0">Contact</a>
            </div>
        </div>
    </div>
</section>



<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.12.0/dist/alpine.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    function carousel() { return { active: 0, init() { new Flickity(this.$refs.carousel, { wrapAround: !0 }).on("change", a => this.active = a) } } } function carouselFilter() { return { active: 0, changeActive(a) { this.active = a, this.$nextTick(() => { let b = Flickity.data(this.$el.querySelectorAll(".carousel")[a]); b.resize(), console.log(b) }) } } }
</script>
{% endblock %}