{% extends 'base.html' %}

{% block content %}
<!-- **11** Self Storage Marketing Page design is here--><!-- Get Tenants design is here -->
<section class=" w-full py-10 md:py-14 bg-blue-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10 items-center justify-center">
            <div>
                <div>
                    <h1
                        class="cc-typewriter text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-medium text-gray-600 py-2 lg:py-3 ">
                        Get <span class="bg-blue-700 text-white" data-text="Leads, Sales, Growing, Tenants"></span></h1>
                </div>
                <div>
                    <h3 class=" text-lg md:text-xl lg:text-2xl font-medium text-gray-900 py-2 lg:py-3">Stop ignoring
                        self storage marketing & Start converting new tenants online</h3>
                    <p class=" text-base font-normal py-1 lg:py-2 text-gray-700">Online marketing services tuned for
                        self storage industry to bring a change to your occupancy rate without high risks</p>
                </div>
                <div class=" flex  flex-row items-center justify-center md:items-start md:justify-start py-2 lg:py-4">
                    <a href="#!"
                        class=" outline-none bg-blue-700 py-2 px-2 md:py-2 md:px-6 xl:py-3 xl:px-8 text-white rounded text-base font-bold my-3 md:my-0 mr-2 lg:mr-5 shadow-xl hover:shadow-inner hover:bg-blue-500 hover:delay-150 hover:duration-200 text-center md:text-left">Start
                        your marketing plan</a>
                </div>
            </div>
            <div>
                <img class=" w-full max-w-full h-auto"
                    src="https://www.6storage.com/img/mobile-marketing-banner-image.svg" alt="Mobile_Marketing_Banner">
            </div>
        </div>
    </div>
</section>
<!-- Reach us today design is here -->
<!--<section class=" w-full py-10 md:py-14 bg-white">-->
<!--    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">-->
<!--        <div class=" py-8 text-center text-gray-900">-->
<!--            <h2 class=" text-xl sm:text-2xl lg:text-3xl font-medium">Reach us today</h2>-->
<!--            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Self storage marketing services design is here -->
<section class=" w-full py-10 md:py-14 bg-blue-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" py-8 text-center text-gray-900">
            <h2 class=" text-xl sm:text-2xl lg:text-3xl font-medium xl:w-7/12 mx-auto">Self storage marketing services
                to boost your occupancy rate</h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div
            class=" grid md:grid-cols-3 gap-5 gap-y-10 lg:gap-7 items-stretch justify-center text-center py-7 md:py-10">
            <div
                class="bg-white rounded-md shadow-xl py-9 px-5 transition-all hover:shadow-2xl hover:border hover:border-blue-700 hover:border-solid hover:-translate-y-3 transform duration-700 delay-150 flex flex-col justify-between">
                <div class=" flex flex-col items-center justify-center">
                    <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/16979478-317a-4872-a8e4-c401b1a52200/6Storage"
                        alt="SEO">
                    <h3 class=" text-lg lg:text-xl text-black font-medium pt-5 pb-2 lg:pt-8 lg:pb-2">SEO</h3>
                </div>
                <div class=" text-sm">
                    <div class=" text-center py-3">
                        <p class=" text-gray-500 font-normal">Show your authority on the first page of Google when
                            people search for self storage facility near me, and pull them to your business without
                            persuading advertisements</p>
                    </div>
                    <div class=" text-center py-2 flex flex-row items-center justify-center lg:pt-8 xl:pt-0">
                        <a href="#!" target="_blank" class=" text-gray-500 font-bold mr-1">Read more</a><svg
                            class="h-6 w-6 text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="15" y1="16" x2="19" y2="12" />
                            <line x1="15" y1="8" x2="19" y2="12" />
                        </svg>
                    </div>
                </div>
            </div>
            <div
                class="bg-white rounded-md shadow-xl py-9 px-5 transition-all hover:shadow-2xl hover:border hover:border-blue-700 hover:border-solid hover:-translate-y-3 transform duration-700 delay-150 flex flex-col justify-between">
                <div class=" flex flex-col items-center justify-center">
                    <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/18ddeac0-2360-4cde-ec5b-f7d180ab0600/6Storage"
                        alt="Facebook_ads">
                    <h3 class=" text-lg lg:text-xl text-black font-medium pt-5 pb-2 lg:pt-8 lg:pb-2">Facebook ads</h3>
                </div>
                <div class=" text-sm">
                    <div class=" text-center py-3">
                        <p class=" text-gray-500 font-normal">Casually engage with your audience on Facebook, share love
                            and guide them to be your best customers over the long run and receive referrals through
                            good deeds</p>
                    </div>
                    <div class=" text-center py-2 flex flex-row items-center justify-center lg:pt-8 xl:pt-0">
                        <a href="#!" target="_blank" class=" text-gray-500 font-bold mr-1">Read more</a><svg
                            class="h-6 w-6 text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="15" y1="16" x2="19" y2="12" />
                            <line x1="15" y1="8" x2="19" y2="12" />
                        </svg>
                    </div>
                </div>
            </div>
            <div
                class="bg-white rounded-md shadow-xl py-9 px-5 transition-all hover:shadow-2xl hover:border hover:border-blue-700 hover:border-solid hover:-translate-y-3 transform duration-700 delay-150 flex flex-col justify-between">
                <div class=" flex flex-col items-center justify-center">
                    <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/9cb71bf7-8057-470f-7f68-09f50b32f900/6Storage"
                        alt="Google_  ads">
                    <h3 class=" text-lg lg:text-xl text-black font-medium pt-5 pb-2 lg:pt-8 lg:pb-2">Google ads</h3>
                </div>
                <div class=" text-sm">
                    <div class=" text-center py-3">
                        <p class=" text-gray-500 font-normal">Instead of the expensive billboard advertisements, attract
                            customers that often search for self storage facility online in an affordable way and keep
                            your facility open for visitors</p>
                    </div>
                    <div class=" text-center py-2 flex flex-row items-center justify-center lg:pt-8 xl:pt-0">
                        <a href="#!" target="_blank" class=" text-gray-500 font-bold mr-1">Read more</a><svg
                            class="h-6 w-6 text-gray-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                            <line x1="15" y1="16" x2="19" y2="12" />
                            <line x1="15" y1="8" x2="19" y2="12" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- This speaks about your prospective tenants online Design is here -->
<section class=" w-full py-10 md:py-14 bg-white">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" py-8 text-center text-gray-900">
            <h2 class=" text-xl sm:text-2xl lg:text-3xl font-medium">This speaks about your prospective tenants online
            </h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div
            class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 gap-y-10 lg:gap-7 items-stretch justify-center text-center py-7 md:py-10">
            <div
                class=" rounded-md shadow-xl py-5 px-3 transform transition-all hover:shadow-2xl hover:border hover:border-blue-700 hover:border-solid hover:-translate-y-3 duration-500 delay-200">
                <div class=" w-40 h-40 bg-white m-auto shadow-none relative mb-6">
                    <div class=" left-0 w-1/2 h-full absolute overflow-hidden top-0 z-90">
                        <div
                            class=" animate-loading-2 border-blue-400 left-full rounded-tr-full rounded-br-full border-l-0 origin-left w-full h-full border-20 border-solid bg-transparent absolute top-0">
                        </div>
                    </div>
                    <div class=" right-0 w-1/2 h-full absolute overflow-hidden top-0 z-90 transform rotate-180">
                        <div
                            class=" animate-loading-1 border-blue-400 left-full rounded-tr-full rounded-br-full border-l-0 origin-left w-full h-full border-20 border-solid bg-transparent absolute top-0">
                        </div>
                    </div>
                    <div
                        class=" width-84 height-84 rounded-full bg-gray-700 text-xl lg:text-2xl text-white leading-30 text-center absolute top-1/12 left-1/12">
                        85%</div>
                </div>
                <div>
                    <p class=" text-sm font-normal py-3 lg:py-7">85% of users ignore paid ads and focus on organic
                        search results</p>
                </div>
            </div>
            <div
                class=" rounded-md shadow-xl py-5 px-3 transform transition-all hover:shadow-2xl hover:border hover:border-blue-700 hover:border-solid hover:-translate-y-3 duration-500 delay-200">
                <div class=" w-40 h-40 bg-white m-auto shadow-none relative mb-6">
                    <div class=" left-0 w-1/2 h-full absolute overflow-hidden top-0 z-90">
                        <div
                            class=" animate-loading-3 border-yellow-400 left-full rounded-tr-full rounded-br-full border-l-0 origin-left w-full h-full border-20 border-solid bg-transparent absolute top-0">
                        </div>
                    </div>
                    <div class=" right-0 w-1/2 h-full absolute overflow-hidden top-0 z-90 transform rotate-180">
                        <div
                            class=" animate-loading-1 border-yellow-400 left-full rounded-tr-full rounded-br-full border-l-0 origin-left w-full h-full border-20 border-solid bg-transparent absolute top-0">
                        </div>
                    </div>
                    <div
                        class=" width-84 height-84 rounded-full bg-gray-700 text-xl lg:text-2xl text-white leading-30 text-center absolute top-1/12 left-1/12">
                        14.6%</div>
                </div>
                <div>
                    <p class=" text-sm font-normal py-3 lg:py-5 lg:pb-14">Leads from search engines have a 14.6% close
                        rate</p>
                </div>
            </div>
            <div
                class=" rounded-md shadow-xl py-5 px-3 transform transition-all hover:shadow-2xl hover:border hover:border-blue-700 hover:border-solid hover:-translate-y-3 duration-500 delay-200">
                <div class=" w-40 h-40 bg-white m-auto shadow-none relative mb-6">
                    <div class=" left-0 w-1/2 h-full absolute overflow-hidden top-0 z-90">
                        <div
                            class=" animate-loading-4 border-red-400 left-full rounded-tr-full rounded-br-full border-l-0 origin-left w-full h-full border-20 border-solid bg-transparent absolute top-0">
                        </div>
                    </div>
                    <div class=" right-0 w-1/2 h-full absolute overflow-hidden top-0 z-90 transform rotate-180">
                        <div
                            class=" animate-loading-1 border-red-400 left-full rounded-tr-full rounded-br-full border-l-0 origin-left w-full h-full border-20 border-solid bg-transparent absolute top-0">
                        </div>
                    </div>
                    <div
                        class=" width-84 height-84 rounded-full bg-gray-700 text-xl lg:text-2xl text-white leading-30 text-center absolute top-1/12 left-1/12">
                        72%</div>
                </div>
                <div>
                    <p class=" text-sm font-normal py-3 lg:py-5">72% of consumers who perform a local search visit a
                        store within 5 miles of their current location</p>
                </div>
            </div>
            <div
                class=" rounded-md shadow-xl py-5 px-3 transform transition-all hover:shadow-2xl hover:border hover:border-blue-700 hover:border-solid hover:-translate-y-3 duration-500 delay-200">
                <div class=" w-40 h-40 bg-white m-auto shadow-none relative mb-6">
                    <div class=" left-0 w-1/2 h-full absolute overflow-hidden top-0 z-90">
                        <div
                            class=" animate-loading-5 border-green-400 left-full rounded-tr-full rounded-br-full border-l-0 origin-left w-full h-full border-20 border-solid bg-transparent absolute top-0">
                        </div>
                    </div>
                    <div class=" right-0 w-1/2 h-full absolute overflow-hidden top-0 z-90 transform rotate-180">
                        <div
                            class=" animate-loading-1 border-green-400 left-full rounded-tr-full rounded-br-full border-l-0 origin-left w-full h-full border-20 border-solid bg-transparent absolute top-0">
                        </div>
                    </div>
                    <div
                        class=" width-84 height-84 rounded-full bg-gray-700 text-xl lg:text-2xl text-white leading-30 text-center absolute top-1/12 left-1/12">
                        86%</div>
                </div>
                <div>
                    <p class=" text-sm font-normal py-3 md:pb-8 lg:py-5 lg:pb-10">86% of people look up the location of
                        a business on Google Maps</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How 6Storage differs design is here -->
<section class=" w-full py-10 md:py-14 bg-blue-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" py-8 text-center text-gray-900">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium xl:w-7/12 mx-auto">How 6Storage differs from other
                marketing service providers</h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div
            class=" grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 gap-y-10 lg:gap-7 lg:gap-y-0 items-center justify-center">
            <div class=" md:col-span-2 xl:col-span-2 grid grid-cols-1 md:grid-cols-2 gap-3.5 lg:gap-4">
                <div>
                    <div class=" flex flex-row items-start justify-center py-2">
                        <div
                            class=" flex-none bg-blue-500 rounded-full flex flex-row items-center justify-center w-12 h-12 mr-5">
                            <svg class="h-6 w-6 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="19" y1="5" x2="5" y2="19" />
                                <circle cx="6.5" cy="6.5" r="2.5" />
                                <circle cx="17.5" cy="17.5" r="2.5" />
                            </svg>
                        </div>
                        <div class=" flex-grow text-gray-600">
                            <h4 class=" text-lg font-medium text-black pb-2 lg:pb-3">Exclusive to self storage industry
                            </h4>
                            <p class=" text-base font-normal py-1 lg:py-2">We only work with self storages and have
                                gained the experience to help you win online</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=" flex flex-row items-start justify-center py-2">
                        <div
                            class=" flex-none bg-blue-500 rounded-full flex flex-row items-center justify-center w-12 h-12 mr-5">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11" />
                            </svg>
                        </div>
                        <div class=" flex-grow text-gray-600">
                            <h4 class=" text-lg font-medium text-black pb-2 lg:pb-3">Best Return-on-Investment</h4>
                            <p class=" text-base font-normal py-1 lg:py-2">We continually monitor & optimize campaigns
                                to find the sweet spot of spending the right ad budget to get adequate returns</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=" flex flex-row items-start justify-center py-2">
                        <div
                            class=" flex-none bg-blue-500 rounded-full flex flex-row items-center justify-center w-12 h-12 mr-5">
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </div>
                        <div class=" flex-grow text-gray-600">
                            <h4 class=" text-lg font-medium text-black pb-2 lg:pb-3">Focused on relationships</h4>
                            <p class=" text-base font-normal py-1 lg:py-2">We keep you updated on current efforts,
                                what’s working well & strategic opportunities on a weekly or monthly basis</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class=" flex flex-row items-start justify-center py-2">
                        <div
                            class=" flex-none bg-blue-500 rounded-full flex flex-row items-center justify-center w-12 h-12 mr-5">
                            <svg class="h-6 w-6 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <line x1="4" y1="19" x2="20" y2="19" />
                                <polyline points="4 15 8 9 12 11 16 6 20 10" />
                            </svg>
                        </div>
                        <div class=" flex-grow text-gray-600">
                            <h4 class=" text-lg font-medium text-black pb-2 lg:pb-3">Agile marketing for growth</h4>
                            <p class=" text-base font-normal py-1 lg:py-2">We start a project & cooperate to identify
                                the areas to focus on, measure the impact & increment results over time</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" md:row-span-2 md:col-span-2 xl:col-span-1 flex flex-row items-start justify-center">
                <img class=" max-w-full h-auto"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/58093ee4-e061-4feb-af3f-742a81a84d00/6Storage"
                    alt="SEO_Marketing">
            </div>

        </div>
    </div>
</section>
<!-- Our Standard Price design is here -->
<section class=" w-full py-10 md:py-14 lg:py-16 bg-white">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" py-7 text-center text-gray-900">
            <p class=" text-base font-bold text-blue-800 py-1 lg:py-2">Pricing</p>
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium py-1 lg:py-2">Our Standard Price</h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div class=" grid md:grid-cols-3 gap-5 gap-y-10 lg:gap-7 items-stretch justify-center text-gray-600">
            <div
                class=" py-7 px-5 lg:py-12 lg:px-7 shadow-2xl rounded-lg h-auto space-y-5 lg:space-y-7 flex flex-col justify-between">
                <div>
                    <div class=" py-2 lg:py-3 font-medium text-center text-gray-900">
                        <h3 class=" text-lg md:text-xl lg:text-2xl py-0.5">Standard</h3>
                        <h6 class=" text-lg lg:text-xl py-0.5">$100</h6>
                    </div>
                    <div class=" py-2 lg:py-3 font-normal text-left text-sm xl:text-base text-gray-600 mt-6 md:mb-10">
                        <p class=" py-0.5 pb-4 lg:pb-6">Getting you started with the essential setup of SEO to help your
                            business reach 100's</p>
                        <div
                            class="cc-scrollbar h-72 overflow-auto py-2 lg:py-3 pr-4 transform hover:-translate-y-1 delay-200 duration-700">
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Google
                                    Analytics Setup</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Google
                                    Search Console Setup</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Sitemap
                                    Generation</span><span class=" flex-none"><svg class="h-5 w-5 text-blue-800 ml-2"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span
                                    class=" flex-grow">Robots.txt Generation</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Title
                                    Optimization</span><span class=" flex-none"><svg class="h-5 w-5 text-blue-800 ml-2"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span
                                    class=" flex-grow">Description Optimization</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Keyword
                                    Research</span><span class=" flex-none"><svg class="h-5 w-5 text-blue-800 ml-2"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Header
                                    Tag Optimization</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Content
                                    Optimization</span><span class=" flex-none"><svg class="h-5 w-5 text-blue-800 ml-2"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Image
                                    Optimization</span><span class=" flex-none"><svg class="h-5 w-5 text-blue-800 ml-2"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Page
                                    Speed Optimization</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Social
                                    Profiles Creation (FB, Twitter & Instagram)</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Google
                                    Business Map Creation & Optimization</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Bing
                                    Business Map Creation & Optimization</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Bing
                                    Webmaster Setup</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Internal
                                    Link Optimization</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Local
                                    Listings Creation</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span
                                    class=" flex-grow">Backlinks Creation</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">ALT Tag
                                    Optimization</span><span class=" flex-none"><svg class="h-5 w-5 text-blue-800 ml-2"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span
                                    class=" flex-grow">Competitor Analysis</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span
                                    class=" flex-grow">Canonicalization</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Weekly
                                    Performance Report</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Detailed
                                    Monthly Performance Report</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                        </div>
                    </div>
                </div>
                <div class=" flex flex-row items-center justify-center pt-7 md:pt-4 lg:pt-10">
                    <a href="#!"
                        class=" outline-none w-full text-center font-medium bg-purple-200 py-3 px-2 md:py-3 md:px-5 xl:py-3 xl:px-5 text-blue-900 rounded text-base my-3 md:my-0 shadow-xl hover:shadow-inner hover:bg-blue-700 hover:text-white">Buy
                        Now</a>
                </div>
            </div>
            <div
                class=" py-7 px-5 lg:py-12 lg:px-7 shadow-2xl rounded-lg h-auto space-y-5 lg:space-y-7 flex flex-col justify-between">
                <div>
                    <div class=" py-2 lg:py-3 font-medium text-center text-gray-900">
                        <h3 class=" text-lg md:text-xl lg:text-2xl py-0.5">Advanced</h3>
                        <h6 class=" text-lg lg:text-xl py-0.5">$150</h6>
                    </div>
                    <div class=" py-2 lg:py-3 font-normal text-left text-sm xl:text-base text-gray-600 mt-6 md:mb-10">
                        <p class=" py-0.5">Helping you with a complete setup for your brand online to reach 1000's</p>
                        <div class=" py-2 lg:py-3 pr-4">
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span
                                    class=" flex-grow">Everything in Standard plus</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Google
                                    Ads Setup</span><span class=" flex-none"><svg class="h-5 w-5 text-blue-800 ml-2"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span class=" flex-grow">Facebook
                                    Ads Setup</span><span class=" flex-none"><svg class="h-5 w-5 text-blue-800 ml-2"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                            <p class=" py-1.5 flex flex-row items-start justify-start"><span
                                    class=" flex-grow">Dedicated Account Manager</span><span class=" flex-none"><svg
                                        class="h-5 w-5 text-blue-800 ml-2" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <polyline points="9 11 12 14 22 4"></polyline>
                                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                                    </svg></span></p>
                        </div>
                        <div class=" pt-7 py-3 lg:pt-12 lg:py-4 text-xs">
                            <p><span class="text-blue-600">Note: </span><span>By default, only one campaign will be
                                    created. For each extra campaigns $30. Campaign Daily Budget not included (should be
                                    paid by client)</span></p>
                        </div>
                    </div>
                </div>
                <div class=" flex flex-row items-center justify-center pt-7 md:pt-4 lg:pt-10">
                    <a href="#!"
                        class=" outline-none w-full text-center font-medium bg-blue-700 py-3 px-2 md:py-3 md:px-5 xl:py-3 xl:px-5 text-white rounded text-base my-3 md:my-0 shadow-xl hover:shadow-inner">Buy
                        Now</a>
                </div>
            </div>
            <div
                class=" py-7 px-5 lg:py-12 lg:px-7 shadow-2xl rounded-lg h-auto space-y-5 lg:space-y-7 flex flex-col justify-between">
                <div>
                    <div class=" py-2 lg:py-3 font-medium text-center text-gray-900">
                        <h3 class=" text-lg md:text-xl lg:text-2xl py-0.5">Performance</h3>
                    </div>
                    <div class=" py-2 lg:py-3 font-normal text-left text-sm xl:text-base text-gray-600 mt-6 md:mt-12">
                        <p class=" py-2">For marketing based on performance.</p>
                        <p class=" py-2">We focus on generating sales and help win against competitors.</p>
                    </div>
                </div>
                <div class=" flex flex-row items-center justify-center pt-7 md:pt-28 lg:pt-20 xl:pt-14">
                    <a href="#!"
                        class=" outline-none w-full text-center font-medium bg-purple-200 py-3 px-2 md:py-3 md:px-5 xl:py-3 xl:px-5 text-blue-900 rounded text-base my-3 md:my-0 shadow-xl hover:shadow-inner hover:bg-blue-700 hover:text-white">Buy
                        Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hear from other people design is here -->
<section class=" w-full py-10 md:py-14 bg-blue-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" py-7 text-center text-gray-900">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium py-1 lg:py-2">Hear from other people</h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div
            class=" grid grid-cols-1 md:grid-cols-3 gap-5 gap-y-10 lg:gap-8 items-start justify-center text-left font-normal text-sm md:text-base text-gray-800 py-3 lg:py-5">
            <div
                class=" bg-white rounded-md shadow-lg px-3 py-3 lg:px-5 lg:py-6 hover:shadow-2xl hover:-translate-y-2 transform delay-100 duration-500 h-full">
                <div class=" flex flex-col justify-between">
                    <div>
                        <img class=" w-10 h-10"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/7e84bd57-7aab-4790-5903-eb6b3e06f600/6Storage"
                            alt="Quotation_blue">
                    </div>
                    <div>
                        <p class=" py-2 lg:py-3">6storage reanalyzed our keyword prioritization and campaign development
                            by getting relevant keywords that helped us to convert prospects doing Google searches</p>
                    </div>
                    <div class=" py-1 lg:py-2 pt-4 lg:pt-6">
                        <p class=" py-0.5 font-semibold text-gray-900 text-sm">Jan Genritt</p>
                        <p class=" py-0.5 text-gray-400 text-xs">Storage owner</p>
                    </div>
                </div>
            </div>
            <div
                class=" bg-blue-600 text-white rounded-md px-3 py-3 lg:px-5 lg:py-6 hover:shadow-2xl hover:-translate-y-2 transform delay-100 duration-500 opacity-100">
                <div class=" flex flex-col justify-between ">
                    <div>
                        <img class=" w-10 h-10"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/3e573008-b783-4492-50dd-a89f20233e00/6Storage"
                            alt="Quotation_White">
                    </div>
                    <div>
                        <p class=" py-2 lg:py-3">We were extremely pleased with the turnaround. We now have 79 percent
                            positive results on page one and two on Google, in just 8 months</p>
                    </div>
                    <div class=" py-1 lg:py-2 pt-6 lg:pt-8">
                        <p class=" py-0.5 font-semibold text-sm">Ryan Malek</p>
                        <p class=" py-0.5 text-xs">Storage owner</p>
                    </div>
                </div>
            </div>
            <div
                class=" bg-white rounded-md shadow-lg px-3 py-3 lg:px-5 lg:py-6 hover:shadow-2xl hover:-translate-y-2 transform delay-100 duration-500 h-full">
                <div class=" flex flex-col justify-between">
                    <div>
                        <img class=" w-10 h-10"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/7e84bd57-7aab-4790-5903-eb6b3e06f600/6Storage"
                            alt="Quotation_blue">
                    </div>
                    <div>
                        <p class=" py-2 lg:py-3">From phone leads to Google my business searches -that was a 12%
                            increase. 6Storage helped us to setup Google and Facebook ads and manage them well</p>
                    </div>
                    <div class=" py-1 lg:py-2 pt-8 lg:pt-10">
                        <p class=" py-0.5 font-semibold text-gray-900 text-sm">Lucia M</p>
                        <p class=" py-0.5 text-gray-400 text-xs">Storage owner</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Marketing FAQ design is here -->
<section class="w-full py-7 md:py-10 bg-blue-50 ">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" py-3 text-center text-gray-900">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-medium py-1 lg:py-2">FAQ</h2>
            <hr class=" border-t-4 border-blue-800 mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div class=" py-4 md:py-5 lg:py-8">
            <div class=" grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-24 items-start justify-center">
                <div>
                    <img class=" w-4/5 md:w-11/12 h-auto max-w-full mx-auto"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/31558876-a011-4a16-c65f-e11fdf548d00/6Storage"
                        alt="Marketing_Faq">
                </div>
                <div class=" bg-white rounded-md shadow-xl">
                    <div class="Market_Service">
                        <div class="accordionItem open">
                            <h2 class="accordionItemHeading">
                                <div class=" flex flex-row items-center justify-start ">
                                    <div
                                        class=" flex-none bg-white w-8 h-8 rounded-full text-sm lg:text-base flex items-center justify-center mr-3 mt-2 border border-solid border-blue-300 text-blue-700">
                                        1</div>
                                    <span class=" flex-grow text-sm lg:text-base">Can you show me a demo of marketing
                                        services or how tell me how it works?</span>
                                </div>
                            </h2>
                            <div class="accordionItemContent text-sm lg:text-base text-justify">
                                <p class="p-3 lg:p-4">Yes, we can share information on how we have increased website
                                    visibility for our existing clients, and show you how the online marketing process
                                    works. Ask us on livechat or email at <a class=" hover:text-blue-700 underline"
                                        href="mailto:support@6storage.com">support@6storage.com</a></p>
                            </div>
                        </div>
                        <div class="accordionItem close">
                            <h2 class="accordionItemHeading">
                                <div class=" flex flex-row items-center justify-start ">
                                    <div
                                        class=" flex-none bg-white w-8 h-8 rounded-full text-sm lg:text-base flex items-center justify-center mr-3 mt-2 border border-solid border-blue-300 text-blue-700">
                                        2</div>
                                    <span class=" flex-grow text-sm lg:text-base">What kind of services do I get?</span>
                                </div>
                            </h2>
                            <div class="accordionItemContent text-sm lg:text-base text-justify">
                                <p class="p-3 lg:p-4">In short, you’ll get the complete essentials to market your
                                    services online by means of optimizing your website content. Advanced services
                                    include setting up of ad campaigns on Google and Facebook</p>
                            </div>
                        </div>
                        <div class="accordionItem close">
                            <h2 class="accordionItemHeading">
                                <div class=" flex flex-row items-center justify-start ">
                                    <div
                                        class=" flex-none bg-white w-8 h-8 rounded-full text-sm lg:text-base flex items-center justify-center mr-3 mt-2 border border-solid border-blue-300 text-blue-700">
                                        3</div>
                                    <span class=" flex-grow text-sm lg:text-base">How do I get more customers
                                        online?</span>
                                </div>
                            </h2>
                            <div class="accordionItemContent text-sm lg:text-base text-justify">
                                <p class="p-3 lg:p-4">We suggest you to research on your local market via online
                                    methods. Google Analytics will help you understand your website visitors and their
                                    behavior so you can find out your best customers. Secondly, make sure your website
                                    is mobile responsive and easy to rent or reserve units. Doing these two will boost
                                    your enquiry rates.</p>
                            </div>
                        </div>
                        <div class="accordionItem close" style=" border: none;">
                            <h2 class="accordionItemHeading">
                                <div class=" flex flex-row items-center justify-start ">
                                    <div
                                        class=" flex-none bg-white w-8 h-8 rounded-full text-sm lg:text-base flex items-center justify-center mr-3 mt-2 border border-solid border-blue-300 text-blue-700">
                                        4</div>
                                    <span class=" flex-grow text-sm lg:text-base">How do I increase my lead conversion
                                        rate?</span>
                                </div>
                            </h2>
                            <div
                                class="accordionItemContent rounded-bl-md rounded-br-md text-sm lg:text-base text-justify">
                                <p class="p-3 lg:p-4">Answer the phone and follow up with all your leads until you know
                                    they are not interested in your service. 6Storage software’s lead management system
                                    helps you to find the lead source, follow up with prospects via auto email/sms and
                                    see analytics of lead data</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Build a strong marketing foundation design is here -->
<section class=" w-full bg-blue-50">
    <div class=" -z-10 bg-cover bg-center bg-no-repeat bg-blend-darken visible bg-fixed"
        style="background-image: url(https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/97fee69c-e07b-4778-e1af-59de50c63f00/6Storage);">
        <div class="features_banner_gradient opacity-90">
            <div
                class=" container mx-auto px-7 lg:px-10 xl:px-8 py-20 text-center flex justify-center items-center flex-row flex-wrap max-w-5xl text-white">
                <h2 class=" text-xl md:text-2xl lg:text-3xl font-bold py-3">Build a strong marketing foundation & start
                    converting new tenants online</h2>
                <p class=" text-base md:text-lg py-2">Your self storage business grows steadily online as 6Storage takes
                    care of marketing activities and you can sit down, review weekly/monthly performance</p>
                <div class=" flex flex-row items-center md:items-start justify-center md:justify-start py-4 md:py-7">
                    <a href="#!"
                        class=" outline-none bg-transparent border-2 border-solid border-white py-2 px-4 md:py-2 md:px-6 xl:py-3 xl:px-8 text-white rounded text-base font-medium my-3 md:my-0 hover:bg-white hover:text-black transform transition-all duration-500 delay-150">Start
                        your marketing plan</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}