{% extends 'base.html' %}

{% block content %}
<section class=" w-full py-6 lg:py-8 pb-0 lg:pb-0 mt-2.5 lg:mt-5 bg-white relative bg-cover bg-no-repeat"
    style=" background-position: 53% 9px; background-image: url(https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/5becf38a-f99b-4ffb-5fd7-73a3f3c64100/6Storage);">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-5 gap-y-10 md:gap-y-0 lg:gap-10 lg:gap-y-0 items-center justify-center">
            <div class=" md:pr-10 md:pl-0 lg:pr-6 xl:pr-7 text-center md:text-left">
                <h1 class=" text-lg sm:text-xl md:text-xl lg:text-2xl xl:text-3xl font-medium cc-sky-blue-100"><span
                        class=" leading-tight">Build networks that shape your business trends</span></h1>
                <p class=" mt-2 text-sm lg:text-base font-normal text-gray-600">Participating in wide-ranging events
                    keep us on a constant learning curve and guide our customers for a successful career-run.</p>
            </div>
            <div>
                <img class=" w-full h-auto"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/2d1d1f83-769a-46de-406c-a23574889800/6Storage"
                    alt="Event-Banner">
            </div>
        </div>
        <div class=" text-center py-2.5 lg:py-3.5 pt-6 sm:pt-10 lg:pt-14">
            <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">Self-Storage Events</h3>
            <hr class=" border-t-4 border-blue-800 mt-2 lg:mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
    </div>
</section>

<section class=" w-full py-8 lg:py-14 bg-white">
    <div
        class=" 2xl:container 2xl:max-w-7xl mx-5 lg:mx-8 2xl:mx-auto px-5 lg:px-10 xl:px-8 border border-gray-100 rounded-md shadow-lg sm:shadow-xl lg:shadow-2xl py-5 lg:py-8">
        <div class=" max-w-6xl mx-auto">
            <div class=" grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4 lg:gap-6">
                <div class="text-sm lg:text-base font-normal text-gray-700 leading-5">
                    <p><span class=" text-black"><b>Event :</b></span> <span>SSAA-Self Storage Access control showcase
                            2022</span></p>
                    <p><span class=" text-black"><b>Exhibits :</b></span> <span>July 19, 2022</span></p>
                    <p><span class=" text-black"><b>Venue :</b></span> <span>Online</span></p>
                    <p><span class=" text-black"><b>Time :</b></span> <span>14:00 - 16:00 (HK time, GMT+8)</span></p>
                </div>
                <div class="text-sm lg:text-base font-normal text-gray-700 leading-5">
                    <p><span class=" text-black"><b>Contact Number :</b></span> <span><a href="tel:+1 (844) 334-4666"
                                class=" text-blue-600 hover:underline">+1 (844) 334-4666</a></span></p>
                    <p><span class=" text-black"><b>Email id :</b></span> <span><a href="mailto:mastan@6storage.com"
                                class=" text-blue-600 hover:underline">mastan@6storage.com</a> and <a
                                href="mailto:support@6storage.com"
                                class=" text-blue-600 hover:underline">support@6storage.com</a></span></p>
                    <p><span class=" text-black"><b>Website :</b></span> <span><a
                                href="https://selfstorageasia.org/jul-19-self-storage-access-control-showcase/?6storage"
                                class=" text-blue-600 hover:underline">https://selfstorageasia.org</a></span></p>
                </div>
                <div class=" md:col-span-2 text-sm lg:text-base font-normal text-gray-700 leading-5">
                    <p>As part of the SSAA Access Control Showcase event, 6Storage present our demo on Gate Access. Stay
                        tuned and make yourself available for the event.</p>
                </div>
            </div>
            <div class=" py-3 lg:py-5">
                <img class=" w-auto mx-auto"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/cbd5b310-fe44-4422-0c52-29977cb94500/6Storage"
                    alt="Banner-Self-Storage-access-control">
            </div>
        </div>
    </div>
</section>
<section class=" w-full py-8 lg:py-14 bg-white">
    <div
        class=" 2xl:container 2xl:max-w-7xl mx-5 lg:mx-8 2xl:mx-auto px-5 lg:px-10 xl:px-8 border border-gray-100 rounded-md shadow-lg sm:shadow-xl lg:shadow-2xl py-5 lg:py-8">
        <div class=" max-w-6xl mx-auto">
            <div class=" grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4 lg:gap-6">
                <div class="text-sm lg:text-base font-normal text-gray-700 leading-5">
                    <p><span class=" text-black"><b>Event :</b></span> <span>INSIDE SELF_STORAGE WORLD EXPO 2022</span>
                    </p>
                    <p><span class=" text-black"><b>Exhibits :</b></span> <span>Apr 20-21, 2022</span></p>
                    <p><span class=" text-black"><b>Venue :</b></span> <span>The Mirage | Las Vegas</span></p>
                </div>
                <div class="text-sm lg:text-base font-normal text-gray-700 leading-5">
                    <p><span class=" text-black"><b>Contact Number :</b></span> <span><a href="tel:+1 (314) 390 1191"
                                class=" text-blue-600 hover:underline">+1 (314) 390 1191</a></span></p>
                    <p><span class=" text-black"><b>Email id :</b></span> <span><a href="mailto:michelle@6storage.com"
                                class=" text-blue-600 hover:underline">michelle@6storage.com</a> and <a
                                href="mailto:jselsor@6storage.com"
                                class=" text-blue-600 hover:underline">jselsor@6storage.com</a></span></p>
                    <p><span class=" text-black"><b>Website :</b></span> <span><a href="https://us.6storage.com"
                                class=" text-blue-600 hover:underline">https://us.6storage.com</a></span></p>
                </div>
                <div class=" md:col-span-2 text-sm lg:text-base font-normal text-gray-700 leading-5">
                    <p>ISSWorldExpo 2022! Paya and 6Storage are teaming up InsideSelfStorage World Expo. All-in-one
                        self-storage management solution built by storage operators for storage operators!</p>
                </div>
            </div>
            <div class=" py-3 lg:py-5">
                <div id="carouselExampleCrossfade" class="carousel slide carousel-fade relative"
                    data-bs-ride="carousel">
                    <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
                        <button type="button" data-bs-target="#carouselExampleCrossfade" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCrossfade" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCrossfade" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCrossfade" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleCrossfade" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleCrossfade" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner relative w-full overflow-hidden">
                        <div class="carousel-item active float-left w-full">
                            <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/f41437cf-37e8-496c-1543-5ca6998a6e00/6Storage"
                                class="block w-full" alt="Event-Banner-1" />
                        </div>
                        <div class="carousel-item float-left w-full">
                            <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/d8a5a6aa-922e-49a7-9201-7c63e69ff600/6Storage"
                                class="block w-full" alt="Event-Banner-2" />
                        </div>
                        <div class="carousel-item float-left w-full">
                            <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/6d574fc6-5078-4310-a1cd-be766bae5f00/6Storage"
                                class="block w-full" alt="Event-Banner-3" />
                        </div>
                        <div class="carousel-item float-left w-full">
                            <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/d60ff682-70ce-43c8-8a81-5df5b3b74a00/6Storage"
                                class="block w-full" alt="Event-Banner-4" />
                        </div>
                        <div class="carousel-item float-left w-full">
                            <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/4259762c-d92a-4377-ff16-493fb5739a00/6Storage"
                                class="block w-full" alt="Event-Banner-5" />
                        </div>
                        <div class="carousel-item float-left w-full">
                            <img src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/9995118e-db61-4369-a2bd-23c154841500/6Storage"
                                class="block w-full" alt="Event-Banner-6" />
                        </div>
                    </div>
                    <button
                        class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
                        type="button" data-bs-target="#carouselExampleCrossfade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                        class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
                        type="button" data-bs-target="#carouselExampleCrossfade" data-bs-slide="next">
                        <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}