{% extends 'base.html' %}

{% block content %}
<section class=" w-full py-7 lg:py-14 mt-2.5 lg:mt-5 bg-white relative bg-cover bg-no-repeat"
    style=" background-position: 53% 9px; background-image: url(https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/5becf38a-f99b-4ffb-5fd7-73a3f3c64100/6Storage);">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-5 gap-y-10 md:gap-y-0 lg:gap-10 lg:gap-y-0 items-center justify-center">
            <div>
                <h1
                    class=" text-lg sm:text-xl md:text-xl lg:text-2xl xl:text-3xl text-center lg:text-left font-medium cc-sky-blue-100 md:pr-16 md:pl-0 lg:pr-5 xl:pr-10 xl:pl-0">
                    <span class=" leading-tight">6Storage is a proud member of Self-Storage associations across the
                        globe.</span>
                </h1>
            </div>
            <div>
                <img class=" w-full h-auto"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/28f1440c-f357-4d77-878a-87dcfce19700/6Storage"
                    alt="Association-Banner">
            </div>
        </div>
    </div>
</section>
<section class=" w-full py-7 lg:py-12 bg-white">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" text-center py-2.5 lg:py-3.5 pb-6 lg:pb-10">
            <h3 class=" text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold cc-sky-blue-100">Our Self-Storage
                Associations</h3>
            <hr class=" border-t-4 border-blue-800 mt-2 lg:mt-4 mx-auto w-2/12 md:w-1/12 rounded-md">
        </div>
        <div
            class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7 lg:gap-10 md:gap-y-14 lg:gap-y-14 items-stretch justify-center">
            <div
                class=" flex flex-col justify-between shadow-xl rounded duration-500 delay-150 transform hover:-translate-y-2.5 border-2 border-transparent hover:border-blue-600">
                <a href="https://www.fedessa.org/" target="_blank" class=" px-4 py-3.5 lg:p-5 2xl:p-7">
                    <div>
                        <img class=" mb-2.5 w-auto h-24 mx-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/9d530308-0fe2-4ed1-32fe-932694d76300/6Storage"
                            alt="Fedessa">
                        <h6 class=" font-medium text-base text-left">Federation of European Self Storage Associations
                            (FEDESSA)</h6>
                    </div>
                    <div class=" my-2 lg:my-3">
                        <p class="text-sm font-normal text-gray-600 text-justify">Federation of European Self Storage
                            Associations, We represent over 2000+ self-storage facilities which are over 70 % of
                            self-storage facilities in Europe, including all the major operators.</p>
                    </div>
                </a>
            </div>
            <div
                class=" flex flex-col justify-between shadow-xl rounded duration-500 delay-150 transform hover:-translate-y-2.5 border-2 border-transparent hover:border-blue-600">
                <a href="https://selfstorageasia.org/" target="_blank" class=" px-4 py-3.5 lg:p-5 2xl:p-7">
                    <div>
                        <img class=" mb-2.5 w-auto h-24 mx-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/2cbfa102-4529-4e8a-91d6-f03de6bb4300/6Storage"
                            alt="SSAA">
                        <h6 class=" font-medium text-base text-left">Self Storage Association Asia (SSAA)</h6>
                    </div>
                    <div class=" my-2 lg:my-3">
                        <p class="text-sm font-normal text-gray-600 text-justify">The Self Storage Association Asia
                            (SSAA) is to help grow and protect our members businesses as well as the Asian storage
                            sector through research, education, government advocacy, key introductions, and high level
                            networking opportunities.</p>
                    </div>
                </a>
            </div>
            <div
                class=" flex flex-col justify-between shadow-xl rounded duration-500 delay-150 transform hover:-translate-y-2.5 border-2 border-transparent hover:border-blue-600">
                <a href="https://www.selfstorage.org/" target="_blank" class=" px-4 py-3.5 lg:p-5 2xl:p-7">
                    <div>
                        <img class=" mb-2.5 w-auto h-24 mx-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/55509b07-5a2e-4c34-f273-e21868385400/6Storage"
                            alt="SSA">
                        <h6 class=" font-medium text-base text-left">Self Storage Association (SSA)</h6>
                    </div>
                    <div class=" my-2 lg:my-3">
                        <p class="text-sm font-normal text-gray-600 text-justify">The Self Storage Association is a
                            non-profit organization that represents the industry's 50,000+ facilities before the United
                            States Congress and federal departments and agencies.</p>
                    </div>
                </a>
            </div>
            <div
                class=" flex flex-col justify-between shadow-xl rounded duration-500 delay-150 transform hover:-translate-y-2.5 border-2 border-transparent hover:border-blue-600">
                <a href="https://www.txssa.org/" target="_blank" class=" px-4 py-3.5 lg:p-5 2xl:p-7">
                    <div>
                        <img class=" mb-2.5 w-auto h-24 mx-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/1ac4f25b-3294-4c9a-fd2b-0265eec7a400/6Storage"
                            alt="TXSSA">
                        <h6 class=" font-medium text-base text-left">Texas Self Storage Association (TXSSA)</h6>
                    </div>
                    <div class=" my-2 lg:my-3">
                        <p class="text-sm font-normal text-gray-600 text-justify">TSSA is the country's largest state
                            self-storage association, offering a wide range of benefits to self-storage owners and
                            operators.</p>
                    </div>
                </a>
            </div>
            <div
                class=" flex flex-col justify-between shadow-xl rounded duration-500 delay-150 transform hover:-translate-y-2.5 border-2 border-transparent hover:border-blue-600">
                <a href="https://www.kssoa.org/" target="_blank" class=" px-4 py-3.5 lg:p-5 2xl:p-7">
                    <div>
                        <img class=" mb-2.5 w-auto h-24 mx-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/97f4de7f-4eee-47d2-04f7-204e4f131900/6Storage"
                            alt="KSSOA">
                        <h6 class=" font-medium text-base text-left">Kansas Self Storage Owners Association (KSSOA)</h6>
                    </div>
                    <div class=" my-2 lg:my-3">
                        <p class="text-sm font-normal text-gray-600 text-justify">KSSOA is established to develop the
                            Kansas self-storage industry, promote professional standards and quality, and provide a
                            united voice on problems impacting the industry in the state and its communities.</p>
                    </div>
                </a>
            </div>
            <div
                class=" flex flex-col justify-between shadow-xl rounded duration-500 delay-150 transform hover:-translate-y-2.5 border-2 border-transparent hover:border-blue-600">
                <a href="https://www.mssoa.org/" target="_blank" class=" px-4 py-3.5 lg:p-5 2xl:p-7">
                    <div>
                        <img class=" mb-2.5 w-auto h-24 mx-auto"
                            src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/d4fe3e1a-1728-4db7-2c4f-a1465b8dbf00/6Storage"
                            alt="MSSOA">
                        <h6 class=" font-medium text-base text-left">Missouri Self Storage Owners Association (MSSOA)
                        </h6>
                    </div>
                    <div class=" my-2 lg:my-3">
                        <p class="text-sm font-normal text-gray-600 text-justify">MSSOA is created to assist and
                            safeguard self-storage facility owners and operators in our state. And it is filled with
                            education, networking, and fun.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}