{% extends 'base.html' %}

{% block content %}
<!-- **12** Six Security page design is here  --> <!-- Powering the next generation design is  here -->
<section class=" w-full py-10 md:py-14" style="background-image: linear-gradient(to right,#0672ae,#2f98d2);">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div
            class="flex flex-col-reverse lg:grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-10 items-center justify-center text-white">
            <div>
                <div class="  text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-medium py-2 lg:py-3">
                    <h1 class=" leading-tight">Powering the next generation of Self Storage facilities</h1>
                </div>
                <div>
                    <p class=" text-sm lg:text-base font-normal py-1 lg:py-2">The most versatile, expandable and secure
                        self storage access control system in the world with 128-bit Advanced Encryption Standards.</p>
                </div>
                <div
                    class=" grid grid-cols-2 sm:flex  sm:flex-row items-center justify-center sm:items-start sm:justify-start py-2 md:py-5 lg:py-4 text-center">
                    <a href="#"
                        class=" outline-none  bg-gradient-to-r from-light-blue to-cyan py-2 px-3.5 sm:py-2 sm:px-6 lg:px-4 xl:py-3 xl:px-6 rounded-full text-sm font-normal my-3 md:my-0 mr-2 lg:mr-3 shadow-sm hover:shadow-inner hover:opacity-90 sm:uppercase focus:underline">Instant
                        Quote</a><a href="#Software_Features"
                        class=" outline-none bg-transparent rounded-full border border-solid border-white py-2 px-2 sm:py-2 sm:px-6 lg:px-4 xl:py-3 xl:px-6 text-sm font-normal my-3 md:my-0 sm:mr-2 lg:mr-3 shadow-sm hover:bg-blue-500 hover:border-blue-500 hover:shadow-xl focus:shadow-2xl">Explore
                        More</a><a href="#Demo_Video"
                        class=" outline-none bg-transparent rounded-full border border-solid border-white py-2 px-2 sm:py-2 sm:px-6 lg:px-4 xl:py-3 xl:px-6 text-sm font-normal my-3 md:my-0 shadow-sm hover:bg-blue-500 hover:border-blue-500 hover:shadow-xl focus:shadow-2xl">How
                        it Works</a>
                </div>
            </div>
            <div>
                <img class=" w-full max-w-md h-auto mx-auto"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/76523c8c-1373-4ad3-e49c-b2f26f158c00/6Storage"
                    alt="Security_Access">
            </div>
        </div>
    </div>
</section>
<!-- Why 6Security design is here -->
<section class=" w-full py-10 md:py-14 bg-gray-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8 text-gray-600">
        <div class=" py-6 text-center text-gray-900">
            <h2 class=" text-xl md:text-2xl lg:text-3xl xl:text-4xl font-semibold">Why 6Security</h2>
        </div>
        <div
            class=" grid grid-cols-1 sm:grid-cols-2 gap-7 lg:gap-14 items-center justify-center text-justify py-6 lg:py-10">
            <div class=" flex flex-col items-start justify-center">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/13cdbf44-4f34-4e6d-ca1c-d213f8231800/6Storage"
                    alt="Keypads_and_Touch_Screens">
            </div>
            <div class=" text-sm font-normal">
                <div class=" py-1 md:">
                    <p class=" py-1 md:py-2 pb-3 md:pb-5"><span class=" font-semibold text-gray-700">6Security:
                        </span><span class=" font-normal">An encrypted, cloud-based system that overcomes the limits of
                            traditional access control systems. A suite of products that ushers the self-storage
                            industry in an era of unmanned, cloud-based remote management.</span></p>
                    <p class=" py-1 md:py-2">6Security's flexibility and versatility allows you to introduce new revenue
                        streams previously unheard of in a remotely managed facility. It is the new standard for the
                        uncompromising Self Storage operator that seeks a robust solution that can grow with his
                        business.</p>
                </div>
                <div class="flex flex-row items-center justify-center py-2 md:py-5 lg:py-4 text-center text-white">
                    <a href="#"
                        class=" outline-none  bg-gradient-to-r from-light-blue to-cyan py-2 px-6 sm:py-2 sm:px-10 lg:px-12 xl:py-2.5 xl:px-14 rounded-full text-sm font-normal my-3 md:my-0 shadow-sm hover:shadow-inner hover:opacity-90 uppercase focus:underline">Instant
                        Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Features design is here -->
<section class=" w-full py-10 md:py-14 bg-white">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8 text-gray-600">
        <div class=" py-6 text-center text-gray-900">
            <h2 class=" text-xl md:text-2xl lg:text-3xl font-semibold">Main Features</h2>
        </div>
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-7 lg:gap-14 items-center justify-center text-justify py-3 lg:py-6">
            <div class=" text-sm font-normal">
                <div class=" py-1 md:py-2">
                    <h3 class=" text-lg md:text-xl lg:text-2xl font-semibold text-gray-900 py-1 md:py-2">Individual Unit
                        Alarms</h3>
                    <p class=" py-1 md:py-2">The key to a successful remotely managed self storage facility lies in the
                        security of each individual Storage unit. We are able to integrate any and all existing
                        solutions for individual unit alarm, from wired to wireless door magnets, but the most complete
                        security available is provided by our PIR/microwave dual technology sensors to detect movement
                        intelligently within each unit while preventing false alarms.</p>
                </div>
                <div class=" py-1 md:py-2">
                    <ul class=" ml-7">
                        <li class="list-disc">All sensors are installed on a single BUS cable that runs through the
                            facility. Easy and quick installation</li>
                        <li class=" list-disc">Remotely adjust sensitivity of each individual sensor even while units
                            are rented</li>
                        <li class=" list-disc">Anti-masking feature on each sensor to protect against more sophisticated
                            burglar attempts</li>
                    </ul>
                </div>
                <div
                    class="flex flex-row items-center justify-center sm:items-start sm:justify-start py-2 md:py-5 lg:py-4 text-center text-white">
                    <a href="#"
                        class=" outline-none  bg-gradient-to-r from-light-blue to-cyan py-2 px-6 sm:py-2 sm:px-10 lg:px-12 xl:py-2.5 xl:px-14 rounded-full text-sm font-normal my-3 md:my-0 shadow-sm hover:shadow-inner hover:opacity-90 uppercase focus:underline">Instant
                        Quote</a>
                </div>
            </div>
            <div class=" flex flex-col items-start justify-center order-first md:order-none">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/8f4f9601-baed-42b8-c6e7-ef354b53f700/6Storage"
                    alt="Individual_Unit_Alarms">
            </div>
        </div>
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-7 lg:gap-14 items-center justify-center text-justify py-3 lg:py-6">
            <div class=" flex flex-col items-start justify-center">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/13cdbf44-4f34-4e6d-ca1c-d213f8231800/6Storage"
                    alt="Keypads_and_Touch_Screens">
            </div>
            <div class=" text-sm font-normal">
                <div class=" py-1 md:py-2">
                    <h3 class=" text-lg md:text-xl lg:text-2xl font-semibold text-gray-900 py-1 md:py-2">Keypads and
                        Touch Screens</h3>
                    <p class=" py-1 md:py-2">Our stainless steel keypads and our touch screens activate a number of
                        features within the facility. Not only do they open any number of gates and deactivate any
                        number of tenant alarms, but tenants can receive email every time their code is used, helpful if
                        the code is given to employees, partners or delivery people.</p>
                </div>
                <div class=" py-1 md:py-2">
                    <p class=" text-gray-700 font-semibold py-1 md:py-2 ml-3">Keypad Features</p>
                    <ul class=" ml-7">
                        <li class="list-disc">Stainless steel/inox casing IP53 with led backlit numbers</li>
                        <li class=" list-disc">Install your keypad up to 500 mt distance from main 6Security hub</li>
                        <li class=" list-disc">Anti-tampering alarm</li>
                        <li class=" list-disc">Includes a buzzer on confirmation button</li>
                    </ul>
                    <p class=" text-gray-700 font-semibold py-1 md:py-2 ml-3">Touch Screen Features</p>
                    <ul class=" ml-7">
                        <li class="list-disc">4.3 inch widescreen, 16.7 colors</li>
                        <li class=" list-disc">Ideal for sheltered or indoor application</li>
                        <li class=" list-disc">Customizable vocal greeting or goodbye to customer through micro SD</li>
                        <li class=" list-disc">Includes small alarm siren</li>
                    </ul>
                </div>
                <div
                    class="flex flex-row items-center justify-center sm:items-start sm:justify-start py-2 md:py-5 lg:py-4 text-center text-white">
                    <a href="#"
                        class=" outline-none  bg-gradient-to-r from-light-blue to-cyan py-2 px-6 sm:py-2 sm:px-10 lg:px-12 xl:py-2.5 xl:px-14 rounded-full text-sm font-normal my-3 md:my-0 shadow-sm hover:shadow-inner hover:opacity-90 uppercase focus:underline">Instant
                        Quote</a>
                </div>
            </div>
        </div>
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-7 lg:gap-14 items-center justify-center text-justify py-3 lg:py-6">
            <div class=" text-sm font-normal">
                <div class=" py-1 md:py-2">
                    <h3 class=" text-lg md:text-xl lg:text-2xl font-semibold text-gray-900 py-1 md:py-2">Electric Locks
                        On Units</h3>
                    <p class=" py-2 md:py-4">6Security can manage any electric lock solution on individual units thanks
                        to its sturdy and programmable relays. We narrow our remote controlled electric lock solutions
                        down to two.</p>
                </div>
                <div class=" py-1 md:py-2">
                    <ul class=" ml-3">
                        <li class="list-decimal pb-3 lg:pb-5">The tenant access code at main door temporarily activates
                            a button at unit. The tenant walks to his unit, presses a button and the lock is released.
                        </li>
                        <li class=" list-decimal">When the tenant digits his access code at the main door, the unit lock
                            is unlocked instantly.</li>
                    </ul>
                </div>
                <div class=" py-1 md:py-2">
                    <p class=" py-2 md:py-4">6Security does not require complex wiring for adding electric locks.
                        Electric locks relay commands can be placed on the same BUS cable of the alarm sensors for each
                        unit.</p>
                </div>
                <div
                    class="flex flex-row items-center justify-center sm:items-start sm:justify-start py-2 md:py-5 lg:py-4 text-center text-white">
                    <a href="#"
                        class=" outline-none  bg-gradient-to-r from-light-blue to-cyan py-2 px-6 sm:py-2 sm:px-10 lg:px-12 xl:py-2.5 xl:px-14 rounded-full text-sm font-normal my-3 md:my-0 shadow-sm hover:shadow-inner hover:opacity-90 uppercase focus:underline">Instant
                        Quote</a>
                </div>
            </div>
            <div class=" flex flex-col items-start justify-center order-first md:order-none">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/56622d92-7b0e-4db1-c4b8-01b3191e4200/6Storage"
                    alt="Electric_Locks">
            </div>
        </div>
        <div
            class=" grid grid-cols-1 md:grid-cols-2 gap-7 lg:gap-14 items-center justify-center text-justify py-3 lg:py-6">
            <div class=" flex flex-col items-start justify-center">
                <img class=" w-full max-w-full h-auto py-4 px-3 md:py-0 md:px-0"
                    src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/e9030525-3592-48c5-ca0f-66061372d800/6Storage"
                    alt="New_Revenue_Streams">
            </div>
            <div class=" text-sm font-normal">
                <div class=" py-1 md:py-2">
                    <h3 class=" text-lg md:text-xl lg:text-2xl font-semibold text-gray-900 py-1 md:py-2">New Revenue
                        Streams for your Facility</h3>
                    <p class=" py-1 md:py-2 text-gray-600 font-semibold">How about an Amazon delivery box?</p>
                    <p class=" py-3 md:py-4">It starts with providing to each client a separate "Parcel Box Code"</p>
                    <p class=" py-3 md:py-4">When making an order on Amazon or any e-commerce site, clients can use your
                        Self Storage address for the delivery and write the Parcel Box Code and unit number on the
                        address field. The courier will come to your facility, insert the code at the gate, go in and
                        deposit the parcel in the Parcel Box that he will open by pressing a button.</p>
                    <p class=" py-3 md:py-4">Your client gets an email for 6security when the package is delivered to
                        the parcel box. So he or she knows it is ready to be picked up. A tremendous time and hassle
                        saving for your clients. Ask us for more details from our case study in a Self Storage facility
                        in Italy.</p>
                    <p class=" py-1 md:py-2 text-gray-600 font-semibold">How about a Bike Box ?</p>
                    <p class=" py-3 md:py-4">If your Self Storage is in a very densely populated neighbourhood, you
                        might want to offer folks a unit with a few bike parking spots. Clients get a code which unlocks
                        the unit and they can get their bike 24 hrs a day. You can also set electric locks on each
                        individual bike.</p>
                </div>
                <div
                    class="flex flex-row items-center justify-center sm:items-start sm:justify-start py-2 md:py-5 lg:py-4 text-center text-white">
                    <a href="#"
                        class=" outline-none  bg-gradient-to-r from-light-blue to-cyan py-2 px-6 sm:py-2 sm:px-10 lg:px-12 xl:py-2.5 xl:px-14 rounded-full text-sm font-normal my-3 md:my-0 shadow-sm hover:shadow-inner hover:opacity-90 uppercase focus:underline">Instant
                        Quote</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Demo Video design is here -->
<section id="Demo_Video" class=" w-full py-10 md:py-14 bg-gray-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" py-7 text-center text-gray-900">
            <h2 class=" text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold">Demo Video</h2>
        </div>
        <div class=" max-w-5xl mx-auto py-2 lg:py-5">
            <iframe class=" w-11/12 sm:w-full mx-auto h-auto sm:h-60 md:h-80 lg:h-96 xl:cc-h-470"
                src="https://www.youtube.com/embed/FQ8myzLGlL0"
                title="Most Affordable: 6Security Gate Access Control Is Here!" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</section>
<!-- Feel free to contact us design is here-->
<section class=" w-full py-10 md:py-14 bg-blue-500">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" text-center text-white py-5 xl:w-9/12 xl:mx-auto">
            <h4 class=" text-base lg:text-lg">If you've got any questions or concerns, please feel free to contact us by
                email at <a class=" text-lg lg:text-xl font-semibold"
                    href="mailto:ronald@6storage.com">ronald@6storage.com</a> or by <span
                    class="text-lg lg:text-xl font-semibold">24/7 Livechat</span>.</h4>
        </div>
    </div>
</section>
<!-- Software Features design is here -->
<section id="Software_Features" class=" w-full py-10 md:py-14 bg-gray-50">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" py-7 text-center text-gray-900 text-sm lg:text-base">
            <h2 class=" text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold">Software Features</h2>
            <p class=" py-3 lg:py-5 text-gray-600 max-w-5xl mx-auto lg:leading-loose">With 6Security you can access and
                configure your Self -storage facility's access control remotely and seamlessly from any computer in the
                world through a web-based application. All communications with your 6Security local server are
                encrypted. Remotely you can:</p>
        </div>
        <div
            class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-5 items-stretch justify-center py-5 lg:py-8 text-gray-600 text-center h-auto text-sm lg:text-base">
            <div
                class=" py-5 px-3 lg:py-14 lg:px-6 hover:shadow-2xl hover:rounded-md duration-500 transform hover:-translate-y-1">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/e233bffe-292f-4b3a-0b09-d69caae96600/6Storage"
                        alt="6Security_Icon_CheckLogs">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Check logs</p>
                </div>
            </div>
            <div
                class=" py-5 px-3 lg:py-14 lg:px-6 hover:shadow-2xl hover:rounded-md duration-500 transform hover:-translate-y-1">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/ccb52462-46b7-4693-e6eb-d3b85eadc700/6Storage"
                        alt="6Security_Icon_OpenGate">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Open main gate</p>
                </div>
            </div>
            <div
                class=" py-5 px-3 lg:py-14 lg:px-6 hover:shadow-2xl hover:rounded-md duration-500 transform hover:-translate-y-1">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/1b041a2c-d279-4074-5df7-85ea2e4bed00/6Storage"
                        alt="6Security_Icon_AssignCodes">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Assign codes to clients</p>
                </div>
            </div>
            <div
                class=" py-5 px-3 lg:py-14 lg:px-6 hover:shadow-2xl hover:rounded-md duration-500 transform hover:-translate-y-1">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/1041967d-a489-4562-9350-cf90e0210300/6Storage"
                        alt="6Security_Icon_LockGate">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Automatically block entrance to main gate to clients with overdue balance</p>
                </div>
            </div>
            <div
                class=" py-5 px-3 lg:py-14 lg:px-6 hover:shadow-2xl hover:rounded-md duration-500 transform hover:-translate-y-1">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/207b2b9c-6b95-45b4-4bc7-5cde5f214f00/6Storage"
                        alt="6Security_Icon_BlockLock">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Automatically and seamlessly remove main gate and unit alarm and lock blocks to tenants when they
                        pay using their credit card in the 6storage customer area</p>
                </div>
            </div>
            <div
                class=" py-5 px-3 lg:py-14 lg:px-6 hover:shadow-2xl hover:rounded-md duration-500 transform hover:-translate-y-1">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/f384779b-8aad-49f7-a0b1-9c09fbb03000/6Storage"
                        alt="6Security_Icon_AdjustSensitivity">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Change the sensitivity of the alarm in the unit</p>
                </div>
            </div>
            <div
                class=" py-5 px-3 lg:py-14 lg:px-6 hover:shadow-2xl hover:rounded-md duration-500 transform hover:-translate-y-1">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/e2998fc6-9b78-4f37-9f49-ff5067c57300/6Storage"
                        alt="6Security-Icon_AlarmNotification">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Receive an email (or a phone call) each time an alarm goes off</p>
                </div>
            </div>
            <div
                class=" py-5 px-3 lg:py-14 lg:px-6 hover:shadow-2xl hover:rounded-md duration-500 transform hover:-translate-y-1">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/463b0e59-79c4-4196-472c-259ad6033300/6Storage"
                        alt="6Security_Icon_RecoverElectric">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>If you have electric locks you can remotely lock individual units without having to go to the
                        facility</p>
                </div>
            </div>
            <div
                class=" py-5 px-3 lg:py-14 lg:px-6 hover:shadow-2xl hover:rounded-md duration-500 transform hover:-translate-y-1">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/6ba66cd8-3509-4936-7875-d8c667fb7f00/6Storage"
                        alt="6Security_Icon_RecoverEmail">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>You can enable clients to receive an email each time their access code is used to enter the
                        facility</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Facility Automation Features design is here -->
<section class=" w-full py-10 md:py-14 bg-white">
    <div class=" container mx-auto px-7 lg:px-10 xl:px-8">
        <div class=" py-7 text-center text-gray-900">
            <h2 class=" text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold">Facility Automation Features</h2>
        </div>
        <div
            class=" grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-5 items-stretch justify-center py-5 lg:py-8 text-gray-600 text-center h-auto text-sm lg:text-base">
            <div class=" py-5 px-3 lg:py-14 lg:px-6">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/bb878fb7-5eb6-4798-4ef8-da7156e4e200/6Storage"
                        alt="6Security_Icon_LightUnitCode">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Lights in parts of the facility can turn on when client digits his unit code to open gate</p>
                </div>
            </div>
            <div class=" py-5 px-3 lg:py-14 lg:px-6">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/dc5c4d96-6a8f-4c8e-aef9-43824acba700/6Storage"
                        alt="6Security_Icon_LightClientStay">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Lights stay on as long as client is in the facility</p>
                </div>
            </div>
            <div class=" py-5 px-3 lg:py-14 lg:px-6">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/b803d79f-8492-4636-ab7f-aa40271d5f00/6Storage"
                        alt="6Security_Icon_IntegrateFloodSensor">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Integration with wireless flood sensors.</p>
                </div>
            </div>
            <div class=" py-5 px-3 lg:py-14 lg:px-6">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/c5e98f43-0ad6-4389-bf35-859f9814c200/6Storage"
                        alt="6Security_Icon_IntegrateDoorSensor">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Integration with wireless or wired door sensors.</p>
                </div>
            </div>
            <div class=" py-5 px-3 lg:py-14 lg:px-6">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/8fbf357d-29ad-4140-60d4-77d075663c00/6Storage"
                        alt="6Security_Icon_IntegrateTempratureSensor">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Integration with temperature sensors to remotely control temperature in the building</p>
                </div>
            </div>
            <div class=" py-5 px-3 lg:py-14 lg:px-6">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/63f4b116-b23c-4854-f80f-f0570be8e300/6Storage"
                        alt="6Security_Icon_IntegrateSmokeSensor">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Integration with smoke detectors</p>
                </div>
            </div>
            <div class=" py-5 px-3 lg:py-14 lg:px-6">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/9dac4b4a-9ebe-41b0-36c0-5a6034de7000/6Storage"
                        alt="6Security_Icon_IntegratePanicButton">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Integration with panic buttons</p>
                </div>
            </div>
            <div class=" py-5 px-3 lg:py-14 lg:px-6">
                <div class=" flex flex-row items-center justify-center">
                    <img class=" w-24 h-24"
                        src="https://imagedelivery.net/BTS8dl3TllMHn3wEbB3joQ/9c1fa446-4f79-491a-78f5-88fc5f8ff400/6Storage"
                        alt="6Security_Icon_Output_to_Siren">
                </div>
                <div class=" py-2 lg:py-4">
                    <p>Output for siren and gateway to security company</p>
                </div>
            </div>
        </div>
        <div class="flex flex-row items-center justify-center py-2 md:py-5 lg:py-4 text-center text-white">
            <a href="#"
                class=" outline-none  bg-gradient-to-r from-light-blue to-cyan py-2 px-6 sm:py-2 sm:px-10 lg:px-12 xl:py-2.5 xl:px-14 rounded-full text-sm font-normal my-3 md:my-0 shadow-sm hover:shadow-inner hover:opacity-90 uppercase focus:underline">Instant
                Quote</a>
        </div>
    </div>
</section>
{% endblock %}